<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @phone.number %>
</p>

<p>
  <strong>Type:</strong>
  <%= @phone.type_id %>
</p>

<p>
  <strong>Occupant:</strong>
  <%= @phone.occupant_id %>
</p>

<p>
  <strong>Caller:</strong>
  <%= @phone.caller_id %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @phone.customer_id %>
</p>

<p>
  <strong>Extension:</strong>
  <%= @phone.extension %>
</p>

<%= link_to 'Edit', edit_phone_path(@phone) %> |
<%= link_to 'Back', phones_path %>
