<p id="notice"><%= notice %></p>

<h1>Listing Notes</h1>

<table>
  <thead>
    <tr>
      <th>Note</th>
      <th>Noteable</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% !@notes.empty? && @notes.each do |note| %>
      <tr>
        <td><%= note.content %></td>
        <td><%= note.noteable %></td>
        <td><%= link_to 'Show', job_notes_path(@job) %></td>
        <td><%= link_to 'Edit', edit_notes_path(note) %></td>
        <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Note', new_note_path %>
