<h1><%= @user.name %> has just created a pricing estimate for job <%= @job.name || @job.id %></h1>

<p><%= link_to "Click here", @job %> to view the job</p>

<p>
  Non Taxable Amount: <%= @pricing.non_taxable_amount %><br />
  Taxable Amount: <%= @pricing.taxable_amount %><br />
  Subtotal: <%= @pricing.subtotal %><br />
  Tax Amount: <%= @pricing.tax_amount %><br />
  Total: <%= @pricing.total %><br />
  Category: <%= @pricing.pricing_category_name %><br />
  Description: <%= @pricing.description %>
</p>

<% if @pricing.uploads.any? %>
  <table style="width:100%">
    <tr>
      <td>Attachment</td>
    </tr>
    <% @pricing.uploads.each do |upload| %>
      <% upload.uploads.each do |u| %>
        <tr>
          <td><%= link_to u.file.filename, u.url %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
<% end %>
