<p id="notice"><%= notice %></p>

<h1>Listing Franchise Users</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Franchise</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @franchise_users.each do |franchise_user| %>
      <tr>
        <td><%= franchise_user.user_id %></td>
        <td><%= franchise_user.franchise_id %></td>
        <td><%= link_to 'Show', franchise_user %></td>
        <td><%= link_to 'Edit', edit_franchise_user_path(franchise_user) %></td>
        <td><%= link_to 'Destroy', franchise_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Franchise user', new_franchise_user_path %>
