<div class="col-xs-12">
    <div class="row content-box">
        <%= form_for [@job, @job_detail] do |f| %>
        <% if @job_detail.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@job_detail.errors.count, "error") %>
                prohibited this job_detail from being saved:</h2>

            <ul>
                <% @job_detail.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
            </ul>
        </div>
        <% end %>

        <div class="col-xs-6">
            <div class="form-group">
                <div class="field">
                    <%= f.label :insurance_company_id %><br>
                    <%= f.collection_select :insurance_company_id, InsuranceCompany.all, :id, :name, {prompt: true},  { class: 'form-control'} %>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <div class="field">
                    <%= f.label :claim_number %><br>
                    <%= f.text_field :claim_number, class: "form-control" %>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <div class="field">
                    <%= f.label :policy_number %><br>
                    <%= f.text_field :policy_number, class: "form-control" %>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <div class="field">
                    <%= f.label :coverage_type_id %><br>
                    <%= f.number_field :coverage_type_id, class: "form-control" %>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <div class="field">
                    <%= f.label :deductible_amount %><br>
                    <%= f.number_field :deductible_amount, class: "form-control" %>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <div class="field">
                    <%= f.label :self_pay_id %><br>
                    <%= f.collection_radio_buttons(:self_pay_id, AffectedType.all, :id, :name) %>
                    <span id="50" class="hidden alert">Please advise that we will collect 50% upon start of job</span>
                </div>
            </div>

        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <div class="field">
                    <%= f.label :deductible_id %><br>
                    <%= f.collection_radio_buttons(:deductible_id, AffectedType.all, :id, :name) %>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <div class="field">
                    <%= f.label :esl_nst_amount_id %><br>
                    <%= f.collection_radio_buttons(:esl_nst_amount_id, AffectedType.all, :id, :name) %>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <div class="field">
                    <%= f.label :emergency_service_amount %><br>
                    <%= f.number_field :emergency_service_amount, class: "form-control"%>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="form-group">
                <%= f.label :bill_to_customer_address %><br>
                <%= radio_button "billing_address[type]", nil, "1", checked: @job_detail.billing_type_id == 1 %>
            </div>
            <div class="form-group">
                <%= f.label :bill_to_adjuster_address %><br>
                <%= radio_button "billing_address[type]", nil, "2", checked: @job_detail.billing_type_id == 2 %>
            </div>
            <div class="form-group">
                <%= f.label :bill_to_other_address %><br>
                <%= radio_button "billing_address[type]", nil, "3", checked: @job_detail.billing_type_id == 3 %>
            </div>

            <%= render 'billing_address_form', f: f %>

        </div>
        <div class="col-xs-12 text-center">
            <div class="actions">
                <%= f.submit class: "btn btn-primary" %>
            </div>
        </div>
        <% end %>
    </div>
</div>
<%= render partial: "partials/jobs_bottom_bar" %>
<script>
    $(document).ready(function () {
        $('input[type=radio]').change(function () {
            if (this.value == '3') {
                $('#billingForm').find('input').val('');
                $("#billingForm").removeClass('hidden')
            } else if (this.value == '1' || this.value == '2') {
                $("#billingForm").addClass('hidden')
                $('#billingForm').find('input').val('');
            }
        });
    });
</script>
