<div class="container-fluid">
    <div class="row">

        <div class="col-sm-9 col-sm-offset-3">
          <%= form_for [@job, @scheduler] do |f| %>
            <div class="row">
              <div class="col-sm-5">
                Calendar Integration
              </div>
              <div class="col-sm-7">
                <div class="row">
                  <div class="col-xs-12">
                    <%= f.text_field :title, placeholder: "Description", class:"form-control" %>
                  </div>
                  <div class="col-xs-4 margin-top-2">
                    <%= f.label :event_date, "Date" %><br>
                    <%= f.text_field :event_date, class:"form-control datePicker" %>
                  </div>
                  <div class="col-xs-4 margin-top-2">
                    <%= f.label :start_time %><br>
                    <%= f.text_field :start_time, class:"form-control timepicker" %>
                  </div>
                  <div class="col-xs-4 margin-top-2">
                    <%= f.label :end_time %><br>
                    <%= f.text_field :end_time, class:"form-control timepicker" %>
                  </div>

                  <div class="col-xs-12 margin-top-2">
                    <%= f.text_area :notes, class: "form-control", placeholder: "Notes" %>
                  </div>
                  <div class="col-xs-12 margin-top-2">
                    <%= f.label :assigned_to_user_id %><br>
                    <%= f.collection_select :assigned_to_user_id, User.all, :id, :full_name, {prompt: true},  { class: 'form-control'} %>
                  </div>
                  <div class="col-xs-3 col-xs-offset-9">
                    <%= f.submit "Add", class: "btn btn-primary" %>
                  </div>
                </div>

              </div>

            </div>
            <% end %>
        </div>
    </div>
</div>

<% if @scheduler.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(@scheduler.errors.count, "error") %>
        prohibited this scheduler from being saved:</h2>

    <ul>
        <% @scheduler.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>
<
<div class="actions">

</div>


<script>
    flatpickr(".datePicker", {
        enableTime: false,
        // create an extra input solely for display purposes
        altInput: true,
        altFormat: "F j, Y"
    });
</script>
