<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.full_name %>, you have been sent a work order. Franchise: <%= @job.franchise.try(:name) %></h1>
    <p>
      Click <a href="http://digitaljobchart.com/jobs/<%= @job.id %>/work_orders/<%= @work_order.id%>">here</a> to view the details.
    </p>
    <p>
      To: <%= @work_order.to %><br />
      Name: <%= @work_order.name %><br />
      Date: <%= @work_order.updated_at.try(:strftime, "%a, %D %I:%M %p") %><br />
      Typed By: <%= @work_order.typed_by %><br />
      Job Start: <%= @work_order.job_start %><br />
      Job Name: <%= @work_order.job_name %><br />
      Job Location: <%= @work_order.job_location %><br />
      Telephone: <%= @work_order.telephone %><br />
      Contact: <%= @work_order.contact %><br />
      Insurance: <%= @work_order.insurance %><br />
      Adjuster: <%= @work_order.adjuster %><br />
      Claim Number: <%= @work_order.claim_number %><br />
      Crew Chiefs: <%= @work_order.number_of_crew_chiefs %><br />
      Technicians: <%= @work_order.number_of_technicians %><br />
      Estimated Hours: <%= @work_order.estimated_hours %><br />
      Scope of Work: <%= @work_order.scope_of_work %><br />
      Required: <%= @work_order.required %><br />
      Franchise Location: <%= @work_order.franchise_location %><br />
      Job Manager Contact Info: <%= @work_order.job_manager_contact_info %><br />
    </p>
  </body>
</html>
