<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a data-toggle="collapse" href="#collapseBilling">Billing Information:</a>
            <% if @job.billing_type_id == nil %>
            <%= link_to edit_job_path(@job.id, billing: true), class: "pull-right" do %>
            <i class="glyphicon glyphicon-plus"></i>
            <% end %>
            <% end %>
        </h3>
    </div>
    <div id="collapseBilling" class="panel-collapse collapse">
        <% if @job.billing_address_id %>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Billing Address</td>
                                <td><%= @job.billing_address.try(:first_name) %></td>
                            </tr>
                            <tr>
                                <td>Last Name:</td>
                                <td><%= @job.billing_address.try(:last_name) %></td>
                            </tr>
                            <tr>
                                <td>Email:</td>
                                <td><%= @job.billing_address.try(:email) %></td>
                            </tr>
                            <tr>
                                <td>Address 1:</td>
                                <td><%= @job.billing_address.try(:address_1) %></td>
                            </tr>
                            <tr>
                                <td>Address 2</td>
                                <td><%= @job.billing_address.try(:address_2) %></td>
                            </tr>
                            <tr>
                                <td>City</td>
                                <td><%= @job.billing_address.try(:city) %></td>
                            </tr>
                            <tr>
                                <td>Zip</td>
                                <td><%= @job.billing_address.try(:zip_code) %></td>
                            </tr>
                            <tr>
                                <td>State</td>
                                <td><%= @job.billing_address.try(:state).try(:name) %></td>
                            </tr>
                            <tr>
                                <td>County</td>
                                <td><%= @job.billing_address.try(:county) %></td>
                            </tr>

                        </tbody>
                    </table>

                </div>
            </div>

        </div>
        <div class="panel-footer">

            <span class="pull-right">
                <%= link_to edit_job_path(@job.id, billing: true), class: "btn btn-sm btn-warning", type: "button" do %>
                <i class="glyphicon glyphicon-edit"></i>
                <% end %>
            </span>
        </div>
        <% end %>
    </div>
</div>
