<%= form_for(@job) do |f| %>
    <div class="col-xs-12 margin-top-3">
      <%= fields_for(:call) do |f| %>
          <%= f.label :current_active_calls, "Select Current Active Call" %>
          <%= f.collection_select :id, Call.where(inprogress: "true"), :id, :customer_phone_number, { prompt: true }, { class: 'form-control' } %>
      <% end %>
      <div class="row content-box margin-top-3">
        <% if @job.errors.any? %>
            <div id="error_explanation">
              <h3><%= pluralize(@job.errors.count, "error") %>
                prohibited this job from being saved:</h3>
              <ul>
                <% @job.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
        <div class="col-xs-12">
          <div class="form-group">
            <label for="job_emergency">Is this an emergency?</label><br>
            Check if yes
            <%= f.check_box :emergency %>
          </div>
        </div>
        <!-- FIXME: This code in template tightly couples to implementation on back-end -->
        <% if @job.id && current_page?(controller: 'jobs', action: 'edit', id: @job.id) %>
            <div class="col-xs-4">
              <div class="form-group">
                <%= f.label :franchise_id %><br>
                <%= f.collection_select :franchise_id, Franchise.all, :id, :name, { :prompt => 'Select a Franchise', selected: @job.franchise_id }, { class: 'form-control' } %>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="form-group">
                <%= f.label :coordinator_id, "Assigned Job Coordinator" %><br>
                <%= f.collection_select :coordinator_id, User.all, :id, :full_name, { :prompt => 'Select a User' }, { class: 'form-control' } %>
              </div>
            </div>
            <% if current_user.admin? || current_user.owner? %>
                <div class="col-xs-4">
                  <div class="form-group">
                    <%= f.label :entered_by_id, "Entered By (Admin override)" %><br>
                    <%= f.collection_select :entered_by_id, User.all, :id, :full_name, { :prompt => 'Select a User' }, { class: 'form-control' } %>
                  </div>
                </div>
            <% end %>
        <% end %>
        <div class="col-xs-4">
          <div class="form-group">
            <%= f.label :status_id %><br>
            <%= f.collection_select :status_id, JobStatus.all, :id, :name, { selected: @job.status_id || 1 }, { class: 'form-control' } %>
          </div>
        </div>
        <!-- FIXME: This code in template tightly couples to implementation on back-end -->
        <% if current_page?(controller: 'jobs', action: 'new') %>
            <div class="col-xs-12">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#lossModal">
                Loss Information
              </button>

              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#propertyModal">
                Property Information
              </button>

              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#billingModal">
                Billing Information
              </button>
            </div>
            <%= hidden_field_tag "new[newly_created]", true %>
            <%= render 'loss_form_modal', f: f %>
            <%= render 'property_form_modal', f: f %>
            <%= render 'billing_form_modal', f: f %>
        <% end %>

        <%= render 'customer_form_modal', f: f %>

        <%= render 'callers_form', f: f %>
        <%= render 'partials/phone_form', f: f, locals: { phone_for: 'caller' } %>

        <% if @job.new_record? %>
            <div class="col-xs-12">
              <div class="form-group">
                <label for="job_emergency">Is the Caller the Customer?</label><br>
                Check if yes
                <%= check_box_tag "same_caller[same_indicator]", '1', true %>
              </div>
            </div>
        <% end %>
        <div class="col-xs-12">
          <button id="customer-btn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#customerModal">
            Customer Information
          </button>
        </div>
        <div class="col-xs-12 margin-top-2">
          <div class="form-group referrals">
            <%= f.label :referral_type_id %><br>
            <%= f.collection_radio_buttons(:referral_type_id, ReferralType.root, :id, :name) do |b| %>
                <%= b.label(:"data-value" => b.value) { b.radio_button + b.text } %>
            <% end %> <br/>

          </div>
        </div>
        <% unless current_user.call_rep? %>
            <div class="col-xs-12 margin-top-2">
              <div class="form-group referrals">
                <%= f.label :corporate_referral_type_id %><br>
                <% f.collection_select :corporate_referral_type_id, CorporateReferralType.all, :id, :name, { prompt: true }, { class: 'form-control' } %>
                <%= f.collection_radio_buttons(:corporate_referral_type_id, CorporateReferralType.all, :id, :name) do |b| %>
                    <%= b.label(:"data-value" => b.value) { b.radio_button + b.text } %>
                <% end %> <br/>

              </div>
            </div>
        <% end %>

        <div id="referral_vendor" class="col-xs-12 <%= " hidden" if @job.try(:referral_type).try(:name) != "Vendor" %>">
          <div class="form-group">
            <%= f.label :referral_vendor_id %><br>
            <%= f.collection_select :referral_vendor_id, Vendor.all, :id, :name, { prompt: true }, { class: 'form-control' } %>
          </div>
        </div>
        <div id="referral_employee" class="col-xs-12 <%= " hidden" if @job.try(:referral_type).try(:name) != "Servpro Employee" %>">
          <div class="form-group">
            <%= f.label :referral_employee_id %><br>

            <%= f.collection_select :referral_employee_id, User.all, :id, :full_name, { prompt: true }, { class: 'form-control' } %>
          </div>
        </div>
        <div class="col-xs-12 margin-top-2">
          <div class="form-group">
            <%= f.label :referral_note %><br>
            <%= f.text_field :referral_note, class: "form-control" %><br>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="form-group">
            <%= f.label :details %>
            <a data-toggle="tooltip" class="tooltipLink" data-original-title="Tooltip text goes here">
              <span class="glyphicon glyphicon-info-sign"></span>
            </a>
            <br>
            <%= f.text_area :details, class: "form-control" %>

          </div>
        </div>
        <% unless current_user.call_rep? %>
            <div class="col-xs-12">
              <div class="form-group">
                <%= f.label :job_note %><br>
                <%= f.text_area :job_note, class: "form-control" %>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="form-group">
                <%= f.label :name, "Digital Job File Name" %>
                <br>
                <%= f.text_field :name, class: "form-control" %>

              </div>
            </div>
        <% end %>

        <div class="col-xs-12 text-center">
          <div class="actions">
            <%= f.submit class: "btn btn-primary", id: "submit-job" %>
            <% f.submit "Save", class: "btn btn-primary" %>
            <% f.submit "Save and Move to Job Loss", class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
<% end %>

<script>
    $("a.tooltipLink").tooltip();
</script>
