<% # FIXME: move trackers into inidvidual partials, make sure each are at least tested enough that they display without error %>
<% trackers.each do |tracker| %>
  <% if tracker.tracker_task.name == "Note Created" %>
    <% noted = tracker.child_trackable %>
    <article data-status="note" class="timeline-entry">
      <div class="timeline-entry-inner">
        <div class="timeline-icon bg-success">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        </div>
        <div class="timeline-label">

          <div class="panel-heading">
            <h3 class="panel-title">Note Created &bull;
              <%= noted.created_at.strftime("%D %I:%M %p") %>
              &bull;
              <%= noted.try(:user).try(:full_name) %></h3>
          </div>
          <div class="panel-body">
            <%= best_in_place noted, :content, :as => :textarea %>
            <br />
            <%= link_to 'Delete Note',  tracker_path(tracker, job_id: job.id),  method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      </div>
    </article>

  <% elsif tracker.tracker_task.name == "File Uploaded" %>
    <% upload = tracker.child_trackable %>
    <article data-status="file-uploaded" class="timeline-entry">
      <div class="timeline-entry-inner">
        <div class="timeline-icon bg-success">
          <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
        </div>
        <div class="timeline-label">
          <div class="panel-heading">
            <h3 class="panel-title">Upload &bull;
              <%= upload.try(:created_at).try(:strftime, "%D %I:%M %p") %>
              &bull;
              <%= tracker.user.try(:full_name) %>
            </h3>
          </div>
          <div class="panel-body">
            <% upload.uploads.each_with_index do |file, index| %>
              <%= upload.description  %> <br />
              <%= upload.uploads[index].file.filename  %> -
              <a target="_blank" href="<%= file.try(:url) %>">View/Download</a><br />
            <% end %>
          </div>
        </div>
      </div>
    </article>

  <% elsif tracker.tracker_task.name == "Call Assigned" %>
    <% call = tracker.child_trackable %>
    <article data-status="call-assigned" class="timeline-entry">
      <div class="timeline-entry-inner">
        <div class="timeline-icon bg-success">
          <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
        </div>
        <div class="timeline-label">
          <div class="panel-heading">
            <h3 class="panel-title">Call Assigned &bull;
              <%= tracker.created_at.strftime("%D %I:%M %p") %>
              &bull;
              <%= tracker.try(:user).try(:full_name) %></h3>
          </div>
          <div class="panel-body">
            <% if tracker.note %>
              <span class="bold">Note: </span><%= tracker.note %> <br />
            <% end %>
            <a class="btn btn-primary margin-top-1" target="_blank" href="https://app.callrail.com/calls/<%= call.callrail_id %>">View Call</a> <br />
            <%= link_to "View Details", call_path(call.id), class: "btn btn-primary margin-top-1" %>
          </div>
        </div>
      </div>
    </article>

  <% elsif tracker.tracker_task.name == "Work Order Drafted" %>
    <% work_order = tracker.child_trackable %>
    <article data-status="work-order" class="timeline-entry">
      <div class="timeline-entry-inner">
        <div class="timeline-icon bg-success">
          <span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>
        </div>
        <div class="timeline-label">
          <div class="panel-heading">
            <h3 class="panel-title">Work Order Drafted &bull;
              <%= tracker.created_at.strftime("%D %I:%M %p") %>
              &bull;
              <%= tracker.try(:user).try(:full_name) %></h3>
          </div>
          <div class="panel-body">
            <% if work_order.archived? %>
              <div class="text-muted"><em>Work Order is archived</em></div>
            <% end %>
            <%= link_to "View", job_work_order_path(job, work_order) %>
          </div>
        </div>
      </div>
    </article>

  <% elsif tracker.tracker_task.name == "Work Order Delivered" %>
    <% work_order = tracker.child_trackable %>
    <article data-status="work-order" class="timeline-entry">
      <div class="timeline-entry-inner">
        <div class="timeline-icon bg-success">
          <span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>
        </div>
        <div class="timeline-label">
          <div class="panel-heading">
            <h3 class="panel-title">Work Order Delivered &bull;
              <%= tracker.created_at.strftime("%D %I:%M %p") %>
              &bull;
              <%= tracker.try(:user).try(:full_name) %></h3>
          </div>
          <div class="panel-body">
            <% if work_order.archived? %>
              <div class="text-muted"><em>Work Order is archived</em></div>
            <% end %>
            <%= link_to "View", job_work_order_path(job, work_order) %>
          </div>
        </div>
      </div>
    </article>

  <% elsif tracker.tracker_task.name == "Purchase Order Created" %>
    <% purchase_order = tracker.child_trackable %>
    <article data-status="purchase-order" class="timeline-entry">
      <div class="timeline-entry-inner">
        <div class="timeline-icon bg-success">
          <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
        </div>
        <div class="timeline-label">
          <div class="panel-heading">
            <h3 class="panel-title">Purchase Order Approval Created &bull;
              <%= tracker.created_at.strftime("%D %I:%M %p") %>
              &bull;
              <%= tracker.try(:user).try(:full_name) %></h3>
          </div>
          <div class="panel-body">
            <%= link_to "View Purchase Order", job_purchase_order_approval_path(job, purchase_order.id) %>
          </div>
        </div>
      </div>
    </article>

  <% elsif tracker.tracker_task.name == "Inspection Checklist Created" %>
    <% checklist = tracker.child_trackable %>
    <article data-status="inspection-checklist" class="timeline-entry">
      <div class="timeline-entry-inner">
        <div class="timeline-icon bg-success">
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </div>
        <div class="timeline-label">
          <div class="panel-heading">
            <h3 class="panel-title">Inspection Checklist Created &bull;
              <%= tracker.created_at.strftime("%D %I:%M %p") %>
              &bull;
              <%= tracker.try(:user).try(:full_name) %></h3>
          </div>
          <div class="panel-body">
            Estimate Will Be Sent: <%= checklist.estimate_will_be_sent %> <br />
            Estimate Given Verbally: <%= checklist.estimate_given_verbally ? "Yes" : "No" %> <br />
            Estimate Range: $<%= checklist.estimate_range %><br />
            Notes: <%= checklist.notes %><br />
            Next Steps: <%= checklist.next_steps %><br />
            Estimate will be prepared and sent within 1 business day?: <%= checklist.send_within_one_day ? "Yes" : "No" %><br />
            Will we be bringing in another Vendor?: <%= checklist.additional_vendor ? "Yes" : "No" %><br />
            Verify all the basic information, and update the customer information if necessary?: <%= checklist.verify_information  ? "Yes" : "No"%><br />
            Does the job have potential for construction?:<%= checklist.potential_construction ? "Yes" : "No" %><br />

          </div>
        </div>
      </div>
    </article>

  <% elsif tracker.tracker_task.name == "Pricing Created" %>
    <% pricing = tracker.child_trackable %>
    <article data-status="pricing" class="timeline-entry">
      <div class="timeline-entry-inner">
        <div class="timeline-icon bg-success">
          <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
        </div>
        <div class="timeline-label">
          <div class="panel-heading">
            <h3 class="panel-title">Pricing Created &bull;
              <%= tracker.created_at.strftime("%D %I:%M %p") %>
              &bull;
              <%= tracker.try(:user).try(:full_name) %></h3>
          </div>
          <div class="panel-body">
            <span class="bold">Non Taxable:</span> $<%= pricing.non_taxable_amount %> <br />
            <span class="bold">Taxable:</span> $<%= pricing.taxable_amount %> <br />
            <span class="bold">Subtotal:</span> $<%= pricing.subtotal %> <br />
            <span class="bold">Tax:</span> $<%= pricing.tax_amount %> <br />
            <span class="bold">Total:</span> $<%= pricing.total %> <br />
            <span class="bold">Category:</span> <%= pricing.try(:pricing_category).try(:name) %> <br />
            <span class="bold">Description:</span> <%= pricing.description%> <br />
            <span class="bold">Job Status (At time of Pricing):</span> <%= pricing.job_status.name %><br />
            <% unless pricing.uploads.empty? %>
              <% pricing.uploads.first.uploads.each_with_index do |file, index| %>
                <%= pricing.uploads.first.uploads[index].file.filename  %> -
                <a target="_blank" href="<%= file.try(:url) %>">View/Download</a><br />
              <% end %>
            <% end %>
            <% if job.pricings.last == pricing %>
              <% unless pricing.try(:pricing_category).try(:name) == "Final Estimate" %>
                <%= link_to  "Move Pricing to Next Category", move_to_next_path(job_id: job, pricing_id: pricing.id),class:"btn btn-primary" %>
              <% end %>
            <% end %>


          </div>

        </div>
      </div>
    </article>

  <% elsif tracker.tracker_task.name == "Scheduler Created" %>
    <% scheduler = tracker.child_trackable %>
    <% if scheduler.event_date.past? %>
      <article data-status="scheduler" class="timeline-entry">
        <div class="timeline-entry-inner">
          <div class="timeline-icon bg-success">
            <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
          </div>
          <div class="timeline-label">
            <div class="panel-heading">
              <h3 class="panel-title"><%= scheduler.title %>
              &bull;
              <%= tracker.created_at.strftime("%D %I:%M %p") %>
              &bull;
              <%= tracker.try(:user).try(:full_name) %></h3>
            </div>
            <div class="panel-body">
              Date:
              <%= scheduler.event_date %><br/>
              Event Type:
              <%= scheduler.scheduler_event %><br/>
              Start Time:
              <%= scheduler.start_time.strftime("%I:%M %p") unless scheduler.start_time == nil %><br/>
              End Time:
              <%= scheduler.end_time.strftime("%I:%M %p") unless scheduler.end_time == nil %><br/>
              Notes:
              <%= scheduler.notes %>
              <br/>
              <%= scheduler.assigned_to_user.try(:full_name) %>

              <br />
              <%= link_to 'Delete Scheduled Event',  tracker_path(tracker, job_id: job.id),  method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>

          </div>
        </div>
      </article>
    <% end %>
  <% end %>

<% end %>

