<div class="container-fluid">
    <div id="wrapper">
        <%= render partial: "partials/jobs_sidebar" %>
        <div id="page-content-wrapper">
            <% if notice %>
            <div class="alert alert-success" role="alert"><%= notice %></div>
            <% end %>
            <div class="col-xs-12">
                <h1 class="text-center">Calls on Job</h1>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Calls:
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <table class="table">
                                    <tbody>
                                        <% @calls.each do |call| %>
                                        <tr>
                                            <td>Call Rail Timeline:</td>

                                            <td>
                                                <% if call.callrail_id %>
                                                <a href="https://app.callrail.com/calls/<%= call.callrail_id %>" target="_blank">Timeline</a>
                                                <% end %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Call Info:</td>
                                            <td><%= link_to "Call Info", call_path(call) %></td>
                                        </tr>
                                        <% call.notes.each do |note| %>
                                        <tr>
                                            <td>Note:</td>
                                            <td><%= note.content %></td>
                                        </tr>
                                        <% end %>
                                        <tr>
                                          <td>New Note:</td>
                                          <td>

                                          <%= form_for call.notes.new do |f| %>
                                          <%= hidden_field_tag "call[call_id]", call.id %>
                                          <%= hidden_field_tag "call[job_id]", @job.id %>

                                          <div class="col-xs-12">
                                              <div class="form-group">
                                                  <div class="field">
                                                      <%= f.text_area :content, class: 'form-control' %>
                                                  </div>
                                              </div>
                                              <div class="actions">
                                                  <%= f.submit class: "btn btn-primary" %>
                                              </div>

                                          </div>
                                          <% end %>
                                        <!-- </div> -->
                                          </td>
                                      </tr>

                                        <% end %>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <%= link_to "Add Call to Job", new_job_call_path(@job), class: "btn btn-primary" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
