<div class="container-fluid">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <h1>Listing Jobs</h1>

            <!-- <%= select_tag("filter", options_for_select(JobStatus.all.map{|p| [p.name, p.id]}, class: "form-control")) %> -->

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Status</th>
                        <th>Entered by</th>
                        <th>Franchise</th>
                        <th>Details</th>
                        <th>Notes</th>
                        <th>Customer</th>
                        <th>Referral type</th>
                        <th colspan="3"></th>
                    </tr>
                </thead>

                <tbody>
                    <% @jobs.each do |job| %>
                    <tr>
                        <td><%= job.try(:job_type).try(:name) %></td>
                        <td><%= job.try(:job_status).try(:name) %></td>
                        <td><%= job.try(:user).try(:full_name) %></td>
                        <td><%= job.try(:franchise).try(:name) %></td>
                        <td><%= job.details %></td>
                        <td><%= job.job_note %></td>
                        <td><%= job.customer_id %></td>
                        <td><%= job.try(:referral_type).try(:name) %></td>
                        <td><%= link_to 'Show', job %></td>
                        <% if current_user.admin?%>
                        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        <% end %>

                    </tr>
                    <% end %>
                </tbody>
            </table>
            <%= will_paginate @jobs %>
            <br>

            <%= link_to 'New Job', new_job_path %>
        </div>
        <div class="col-xs-2 margin-top-5">
            <%= search_form_for @search do |f| %>
            <%= f.label :franchise_id %><br/>
            <%= f.select :franchise_id_eq, options_from_collection_for_select(Franchise.all, "id", "name"), {include_blank: true}, {class: "form-control select-control"} %><br/>

            <%= f.label :insurance_company %><br/>
            <%= f.select :job_detail_insurance_company_id_eq, options_from_collection_for_select(InsuranceCompany.all, "id", "name"), {include_blank: true}, {class: "form-control select-control"} %><br/>

            <%= f.label :status_id_eq, "Job Status" %><br/>
            <%= f.select :status_id_eq, options_from_collection_for_select(JobStatus.all, "id", "name"), {include_blank: true}, {class: "form-control select-control"} %><br/>
            <%= f.label :entered_by_id_eq, "Entered By" %><br/>
            <%= f.select :entered_by_id_eq, options_from_collection_for_select(User.all, "id", "full_name"), {include_blank: true}, {class: "form-control select-control"} %><br/>

            <%= f.label :customer_address_state_id, "Customer State" %><br/>
            <%= f.select :customer_address_state_id_eq, options_from_collection_for_select(State.all, "id", "name"), {include_blank: true}, {class: "form-control select-control"} %><br/>
            <%= f.label :referral_type_id_eq, "Referral Type" %><br/>
            <%= f.select :referral_type_id_eq, options_from_collection_for_select(ReferralType.all, "id", "name"), {include_blank: true}, {class: "form-control select-control"} %><br/>
            <%= f.label :agent_id_eq, "Agent Name" %><br/>
            <%= f.select :agent_id_eq, options_from_collection_for_select(Agent.all, "id", "full_name"), {include_blank: true}, {class: "form-control select-control"} %><br/>
            <%= f.label :adjuster_id_eq, "Adjuster Name" %><br/>
            <%= f.select :adjuster_id_eq, options_from_collection_for_select(Adjuster.all, "id", "full_name"), {include_blank: true}, {class: "form-control select-control"} %><br/>
            <%= f.label :job_managers_job_manager_id_eq, "Job Manager" %><br/>
            <%= f.select :job_managers_job_manager_id_eq, options_from_collection_for_select(User.all, "id", "full_name"), {include_blank: true}, {class: "form-control select-control"} %><br/>
            <div class="actions"><%= f.submit "Search", class:"btn btn-primary margin-top-2" %></div>

            <% end %>
        </div>
    </div>
</div>
<p id="notice"><%= notice %></p>

<script>

    $('#filter').live('change', function () {
        searching_new_data()
    }).change();

    function searching_new_data() {
        $.ajax({
            url: "/jobs/filter",
            data: {
                data: {
                    status: $('filter').val()
                }

                success: function (html) {

                    $('table').empty();
                    $('table').append(html);
                }
            })})
    }
</script>
