<div class="container-fluid">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h1>New Call</h1>
                </div>

                <%= render 'form' %>

            </div>
        </div>
    </div>
</div>

<div id="lossModal" class="modal fade" tabindex="-1" role="dialog">
    <%= form_for [@job, @loss], remote: true do |f| %>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add Loss</h4>
            </div>
            <div class="modal-body">
                <div>

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Job Loss</a>
                        </li>
                        <li role="presentation">
                            <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Info 1</a>
                        </li>
                        <li role="presentation">
                            <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Info 2</a>
                        </li>
                        <li role="presentation">
                            <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">
                            <div class="row">
                                <div class="col-xs-12">

                                    <% if @loss.errors.any? %>
                                    <div id="error_explanation">
                                        <h2><%= pluralize(@loss.errors.count, "error") %>
                                            prohibited this loss from being saved:</h2>

                                        <ul>
                                            <% @loss.errors.full_messages.each do |message| %>
                                            <li><%= message %></li>
                                            <% end %>
                                        </ul>
                                    </div>
                                    <% end %>

                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <div class="field">
                                                <%= f.label :loss_occurred %><br>
                                                <%= f.text_field :loss_occurred, class:"form-control datePicker" %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <div class="field">
                                                <%= f.label :fnol_recieved, "Job Recieved" %><br>
                                                <%= f.text_field :fnol_recieved, class:"form-control datePicker" %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <div class="field">
                                                <%= f.label :customer_called %><br>
                                                <%= f.text_field :customer_called, class:"form-control datePicker" %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <div class="field">
                                                <%= f.label :loss_type_id %><br>
                                                <%= f.collection_radio_buttons(:loss_type_id, LossType.all, :id, :name) do |b| %>
                                                <%= b.label(:"data-value" => b.value, :"name" => "loss_type_id") { b.radio_button + b.text } %>
                                                <a data-toggle="tooltip" class="tooltipLink" data-original-title="<%= b.object.tooltip %>">
                                                    <span class="glyphicon glyphicon-info-sign"></span>
                                                </a>
                                                <br>
                                                <% end %>
                                                <% f.collection_select :loss_type_id, LossType.all, :id, :name, {prompt: true},  { class: 'form-control'} %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <div class="field">
                                                <%= f.label :loss_cause_id %><br>
                                                <%= f.grouped_collection_select :loss_cause_id, LossType.all, :loss_causes, :name, :id, :name, {prompt: true},  { class: 'form-control'} %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <div class="field">
                                                <%= f.label :standing_water_id %><br>
                                                <%= f.collection_radio_buttons(:standing_water_id, AffectedType.all, :id, :name) %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <div class="field">
                                                <%= f.label :water_available_id %><br>
                                                <%= f.collection_radio_buttons(:water_available_id, AffectedType.all, :id, :name) %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <div class="field">
                                                <%= f.label :electricity_available_id %><br>
                                                <%= f.collection_radio_buttons(:electricity_available_id, AffectedType.all, :id, :name) %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <div class="field">
                                                <%= f.label :source_off_id %><br>
                                                <%= f.collection_radio_buttons(:source_off_id, AffectedType.all, :id, :name) %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <div class="field">
                                                <%= f.label :visible_mold_id %><br>
                                                <%= f.collection_radio_buttons(:visible_mold_id, AffectedType.all, :id, :name) %>
                                                <div id="mold-alert" class="hidden alert">Please advise mold inspection is $150, which will come off the estimate if we do the work.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="previousWater" class="col-xs-4 hidden">
                                        <div class="form-group">
                                            <div class="field">
                                                <%= f.label :previous_water_damage_id %><br>
                                                <%= f.collection_radio_buttons(:previous_water_damage_id, AffectedType.all, :id, :name) %>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="sourceCause" class="col-xs-12 hidden">
                                        <div class="form-group">
                                            <div class="field">
                                                <%= f.label :source_cause %><br>
                                                <%= f.text_area :source_cause, class:"form-control" %>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="cleaningType" class="col-xs-12 hidden">
                                        <div class="form-group">
                                            <div class="field">
                                                <%= f.label :cleaning_type %><br>
                                                <%= f.text_area :cleaning_type, class:"form-control" %>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="squareFootage" class="col-xs-4 hidden">
                                        <div class="form-group">
                                            <div class="field">
                                                <%= f.label :affected_square_footage %><br>
                                                <%= f.text_field :affected_square_footage, class:"form-control" %>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <div class="field">
                                                <%= f.label :notes %><br>
                                                <%= f.text_area :notes, class:"form-control" %>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 text-center">
                                        <div class="actions"></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="profile">...</div>
                        <div role="tabpanel" class="tab-pane" id="messages">...</div>
                        <div role="tabpanel" class="tab-pane" id="settings">...</div>
                    </div>

                </div>

                <script>
                    $("a.tooltipLink").tooltip();
                </script>

            </div>
            <div class="modal-footer">
                <%= f.submit "Save changes", class: 'btn btn-primary' %>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>

    <% end %>
    <!-- /.modal-dialog -->
</div>

<div id="propertyModal" class="modal fade" tabindex="-1" role="dialog">
    <%= form_for [@job, @property], remote: true  do |f| %>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add Property</h4>
            </div>
            <div class="modal-body">
                <div class="col-xs-12">
                    <div class="row content-box">

                        <% if @property.errors.any? %>
                        <div id="error_explanation">
                            <h2><%= pluralize(@property.errors.count, "error") %>
                                prohibited this property from being saved:</h2>

                            <ul>
                                <% @property.errors.full_messages.each do |message| %>
                                <li><%= message %></li>
                                <% end %>
                            </ul>
                        </div>
                        <% end %>

                        <div class="col-xs-4">
                            <div class="form-group">
                                <div class="field">
                                    <%= f.label :structure_type_id %><br>
                                    <%= f.collection_select :structure_type_id, StructureType.all, :id, :name, {prompt: true},  { class: 'form-control'} %>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-4">
                            <div class="form-group">
                                <div class="field">
                                    <%= f.label :property_type_id %><br>

                                    <%= f.grouped_collection_select :property_type_id, StructureType.all, :property_types, :name, :id, :name, {prompt: true},  { class: 'form-control'} %>

                                </div>
                            </div>
                        </div>

                        <div class="col-xs-4">
                            <div class="form-group">
                                <div class="field">
                                    <%= f.label :year_built %><br>
                                    <%= f.number_field :year_built, class: 'form-control' %>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-4">
                            <div class="form-group">
                                <div class="field">
                                    <%= f.label :floors_affected, "# Floors Affected" %><br>
                                    <%= f.number_field :floors_affected, class: 'form-control' %>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <div class="field">
                                    <%= f.label :rooms_affected %><br>
                                    <%= f.number_field :rooms_affected, class: 'form-control' %>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <div class="field">
                                    <%= f.label :occurred_level %><br>
                                    <%= f.text_field :occurred_level, class: 'form-control' %>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <div class="field">
                                    <%= f.label :basement_finished %><br>(Check if yes)
                                    <%= f.check_box :basement_finished %>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <div class="field">
                                    <%= f.label :multi_unit %><br>(Check if yes)
                                    <%= f.check_box :multi_unit %>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <div class="field">
                                    <%= f.label :ownership %><br>(Check if yes)
                                    <%= f.check_box :ownership %>
                                </div>
                            </div>
                        </div>
                        <div id="condo" class="col-xs-4 hidden">
                            <div class="form-group">
                                <div class="field">
                                    <%= f.label :condo %><br>(Check if yes)
                                    <%= f.check_box :condo %>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <div class="field">
                                    <%= f.label :ceiling_affected %><br>
                                    <%= f.collection_radio_buttons(:ceiling_affected_id, AffectedType.all, :id, :name) %>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <div class="field">
                                    <%= f.label :walls_affected %><br>
                                    <%= f.collection_radio_buttons(:walls_affected_id, AffectedType.all, :id, :name) %>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <div class="field">
                                    <%= f.label :attic_affected %><br>
                                    <%= f.collection_radio_buttons(:attic_affected_id, AffectedType.all, :id, :name) %>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <div class="field">
                                    <%= f.label :contents_affected %><br>
                                    <%= f.collection_radio_buttons(:contents_affected_id, AffectedType.all, :id, :name) %>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <%= f.label :flooring_types %><br>
                            <%= f.collection_check_boxes(:flooring_type_ids, FlooringType.all, :id, :name) %>
                        </div>

                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <%= f.submit "Save changes" , class: 'btn btn-primary' %>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>

    <% end %>
    <!-- /.modal-dialog -->
</div>

<div id="customerModal" class="modal fade" tabindex="-1" role="dialog">
    <%= form_for @customer, remote: true do |f| %>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add Customer</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">

                            <% if @customer.errors.any? %>
                            <div id="error_explanation">
                                <h2><%= pluralize(@customer.errors.count, "error") %>
                                    prohibited this customer from being saved:</h2>

                                <ul>
                                    <% @customer.errors.full_messages.each do |message| %>
                                    <li><%= message %></li>
                                    <% end %>
                                </ul>
                            </div>
                            <% end %>

                            <% if @job %>
                            <%= hidden_field_tag "job[job_id]", @job.id %>
                            <% end %>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <%= f.label :first_name %><br>
                                    <%= f.text_field :first_name, class:"form-control" %>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <%= f.label :last_name %><br>
                                    <%= f.text_field :last_name, class:"form-control" %>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <%= f.label :email %><br>
                                    <%= f.text_field :email, class:"form-control" %>
                                </div>
                            </div>

                            <%= render 'customers/address_form', f: f %>
                            <%= render 'partials/modal_phone_form', f: f %>


                            <!-- /.modal-dialog -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <%= f.submit "Save changes" , class: 'btn btn-primary' %>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
    <% end %>
</div>

<div id="billingModal" class="modal fade" tabindex="-1" role="dialog">
    <%= form_for [@job, @job_detail], remote: true  do |f| %>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add Billing</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">

                            <% if @job_detail.errors.any? %>
                            <div id="error_explanation">
                                <h2><%= pluralize(@job_detail.errors.count, "error") %>
                                    prohibited this job_detail from being saved:</h2>

                                <ul>
                                    <% @job_detail.errors.full_messages.each do |message| %>
                                    <li><%= message %></li>
                                    <% end %>
                                </ul>
                            </div>
                            <% end %>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <div class="field">
                                        <%= f.label :self_pay_id %><br>
                                        <%= f.collection_radio_buttons(:self_pay_id, AffectedType.all, :id, :name) %>
                                        <span id="50" class="hidden alert">Please advise that we will collect 50% upon start of job</span>
                                    </div>
                                </div>

                            </div>

                            <div class="col-xs-6 non-self">
                                <div class="form-group">
                                    <div class="field">
                                        <%= f.label :insurance_company_id %><br>
                                        <%= f.collection_select :insurance_company_id, InsuranceCompany.all, :id, :name, {prompt: true},  { class: 'form-control'} %>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 non-self">
                                <div class="form-group">
                                    <div class="field">
                                        <%= f.label :claim_number %><br>
                                        <%= f.text_field :claim_number, class: "form-control" %>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 non-self">
                                <div class="form-group">
                                    <div class="field">
                                        <%= f.label :policy_number %><br>
                                        <%= f.text_field :policy_number, class: "form-control" %>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 non-self">
                                <div class="form-group">
                                    <div class="field">
                                        <%= f.label :coverage_type %><br>
                                        <%= f.text_field :coverage_type, class: "form-control" %>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 non-self">
                                <div class="form-group">
                                    <div class="field">
                                        <%= f.label :deductible_amount %><br>
                                        <%= f.number_field :deductible_amount, class: "form-control" %>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-6 non-self">
                                <div class="form-group">
                                    <div class="field">
                                        <%= f.label :deductible_id %><br>
                                        <%= f.collection_radio_buttons(:deductible_id, AffectedType.all, :id, :name) %>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-xs-6"> -->
                            <!-- <div class="form-group"> -->
                            <!-- <div class="field"> -->
                            <% f.label :esl_nst_amount_id %><br>
                            <% f.collection_radio_buttons(:esl_nst_amount_id, AffectedType.all, :id, :name) %>
                            <!-- </div>
                                </div>
                            </div> -->
                            <div class="col-xs-6 non-self">
                                <div class="form-group">
                                    <div class="field">
                                        <%= f.label :emergency_service_amount %><br>
                                        <%= f.number_field :emergency_service_amount, class: "form-control"%>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <%= f.submit "Save changes" , class: 'btn btn-primary' %>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>

    <% end %>
    <!-- /.modal-dialog -->
</div>

<script>
    $(document).ready(function () {
        $('input[type=radio]').change(function () {
            if (this.value == '3') {
                $('#billingForm').find('input').val('');
                $("#billingForm").removeClass('hidden')
            } else if (this.value == '1' || this.value == '2') {
                $("#billingForm").addClass('hidden')
                $('#billingForm').find('input').val('');
            }
        });
    });
</script>

<%= link_to 'Back', jobs_path %>

<script>
    $("a.tooltipLink").tooltip();

    flatpickr(".datePicker", {
        enableTime: true,
        defaultDate: new Date(),
        // create an extra input solely for display purposes
        altInput: true,
        altFormat: "F j, Y h:i K"
    });

    $("#submit-loss").on('click', function (e) {
        e.preventDefault();

        e.ajax({url: ""})
    })
</script>
