<div class="container-fluid">
    <% if notice %>
    <div class="alert alert-success" role="alert"><%= notice %></div>
    <% end %>

  <div class="row">
    <div class="col-md-2">
		  	<div class="sidebar content-box" style="display: block;">
                <ul class="nav">
                    <!-- Main menu -->
                    <li class="current"><a href="index.html"><i class="glyphicon glyphicon-home"></i> Dashboard</a></li>
                    <li><a href="calendar.html"><i class="glyphicon glyphicon-calendar"></i> Calendar</a></li>
                    <li><a href="stats.html"><i class="glyphicon glyphicon-stats"></i> Statistics (Charts)</a></li>
                    <li><a href="tables.html"><i class="glyphicon glyphicon-list"></i> Tables</a></li>
                    <li><a href="buttons.html"><i class="glyphicon glyphicon-record"></i> Buttons</a></li>
                    <li><a href="editors.html"><i class="glyphicon glyphicon-pencil"></i> Editors</a></li>
                    <li><a href="forms.html"><i class="glyphicon glyphicon-tasks"></i> Forms</a></li>
                    <li class="submenu">
                         <a href="#">
                            <i class="glyphicon glyphicon-list"></i> Pages
                            <span class="caret pull-right"></span>
                         </a>
                         <!-- Sub menu -->
                         <ul>
                            <li><a href="login.html">Login</a></li>
                            <li><a href="signup.html">Signup</a></li>
                        </ul>
                    </li>
                </ul>
             </div>
		  </div>
    <div>

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#job" aria-controls="job" role="tab" data-toggle="tab">Job Information</a></li>
        <li role="presentation"><a href="#client" aria-controls="client" role="tab" data-toggle="tab">Client Information</a></li>
        <li role="presentation"><a href="#images" aria-controls="client" role="tab" data-toggle="tab">Images</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content margin-top-5">
        <div role="tabpanel" class="tab-pane active" id="job">

          <div class="row">
              <div class="col-xs-8 col-xs-offset-2">
                  <div class="panel panel-info">
                      <div class="panel-heading">
                          <h3 class="panel-title">
                              Status:
                              <%= @job.try(:job_status).try(:name) %>
                          </h3>
                      </div>
                      <div class="panel-body">
                          <div class="row">
                              <div class="col-xs-12">
                                  <table class="table">
                                      <tbody>
                                          <tr>
                                              <td>Entered By:</td>
                                              <td><%= @job.user.email %></td>
                                          </tr>
                                          <tr>
                                              <td>Franchise</td>
                                              <td><%= @job.try(:franchise).try(:name) %></td>
                                          </tr>
                                          <tr>
                                              <td>Details</td>
                                              <td><%= @job.details %></td>
                                          </tr>
                                          <tr>
                                              <td>Notes</td>
                                              <td><%= @job.notes %></td>
                                          </tr>

                                          <tr>
                                              <td>Referral Type</td>
                                              <td><%= @job.try(:referral_type).try(:name) %></td>
                                          </tr>
                                      </tbody>
                                  </table>

                              </div>
                          </div>
                      </div>
                      <div class="panel-footer">
                          <a href="mailto:<%= @caller.email %>" type="button" class="btn btn-sm btn-primary">
                              <i class="glyphicon glyphicon-envelope"></i>
                          </a>
                          <span class="pull-right">


                              <%= link_to  edit_job_path(@job), class: "btn btn-sm btn-warning", type: "button" do %>
                              <i class="glyphicon glyphicon-edit"></i>
                              <% end %>
                          </span>
                      </div>
                  </div>
                <%= render 'caller' %>
                <%= render 'customer' %>
                <%= render 'loss' %>
                <%= render 'property' %>
                <%= render 'callrail' %>


              </div>
          </div>

        </div>
        <div role="tabpanel" class="tab-pane" id="client">


          <div class="row">
              <div class="col-xs-8 col-xs-offset-2">
                <%= render 'job_details' %>
                <%= render 'agents' %>
                <%= render 'adjusters' %>
                <%= render 'emergency_contact' %>
                <%= render 'billing_address' %>
              </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="images">
          <%= render 'images' %>
        </div>
        <div role="tabpanel" class="tab-pane" id="settings">...</div>
      </div>

    </div>




</div>
