<div class="container-fluid">
    <div id="wrapper">
        <%= render partial: "partials/jobs_sidebar" %>
        <div id="page-content-wrapper">

            <% if notice %>
            <div class="alert alert-success" role="alert"><%= notice %></div>
            <% end %>
            <div class="alert alert-info" role="alert"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> <strong>Job Status:</strong> <%= @job.job_status.try(:name) %>, <strong>Franchise:</strong> <%= @job.franchise.try(:name) %>, <strong>Name:</strong> <%= @job.name %>, <strong>Latest Estimate:</strong> <%= @job.pricings.try(:last).try(:price) %> </div>
            <% unless @job.coordinator_id %>
              <div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> <strong>Job Coordinator</strong> has not been assigned</div>
            <% end %>
            <% unless @job.franchise_id %>
              <div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> <strong>Franchise</strong> has not been assigned</div>
            <% end %>
            <% if @job.job_managers.empty? %>
              <div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> <strong>Job Manager</strong> has not been assigned</div>
            <% end %>
            <% if @job.calls.empty? %>
              <div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> <strong>Call</strong> has not been assigned</div>
            <% end %>

            <div class="col-xs-12 ">
                <%= link_to  "Edit Job", edit_job_path(@job),class:"btn btn-primary" %>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#currentCallsModal">
                    Add Active Call
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#changeStatus">
                    Change Job Status
                </button>


                <% if @job.customer %>
                <% if @job.franchise && @job.customer.sharp_spring_id == nil && (current_user.admin? || current_user.owner?) %>
                  <%= link_to  "Send Customer To Sharpspring", customer_send_to_sharpspring_path(@job.customer, @job), method: :post,class:"btn btn-primary" %>
                <% end %>
                <% end %>
                <div class="progress margin-top-2">
                   <div class="progress-bar progress-bar-success tooltipped" role="progressbar" style="width:20%">
                     Job Entered
                     <span data-ttip="<%= (Time.now - @job.created_at).to_i / (24 * 60 * 60) %> Days Ago"></span>
                   </div>
                   <% unless @job.job_managers.empty? %>
                   <div class="progress-bar progress-bar-warning tooltipped" role="progressbar" style="width:20%">
                     Project Manager Assigned
                     <span data-ttip="<%= (Time.now - @job.job_managers.first.created_at).to_i / (24 * 60 * 60) %> Days Ago"></span>
                   </div>
                   <% unless @job.schedulers.where(scheduler_event_type_id: 5).empty? %>
                   <div class="progress-bar progress-bar-primary tooltipped" role="progressbar" style="width:20%">
                     Project Manager Visit Scheduled
                     <span data-ttip="<%= (Time.now - @job.schedulers.first.created_at).to_i / (24 * 60 * 60) %> Days Ago"></span>
                   </div>
                   <% if @job.schedulers.where(scheduler_event_type_id: 5).first.event_date.past? %>
                   <div class="progress-bar progress-bar-danger tooltipped" role="progressbar" style="width:20%">
                     Project Manager Visited
                     <span data-ttip="<%= (Time.now - @job.schedulers.where(scheduler_event_type_id: 5).first.created_at).to_i / (24 * 60 * 60) %> Days Ago"></span>
                   </div>
                   <% if @job.inspection_checklist %>
                   <div class="progress-bar progress-bar-info tooltipped" role="progressbar" style="width:20%">
                     Manager Checklist Created
                     <span data-ttip="<%= (Time.now - @job.inspection_checklist.created_at).to_i / (24 * 60 * 60) %> Days Ago"></span>
                   </div>
                   <% end %>
                   <% end %>
                   <% end %>

                   <% end %>

                 </div>
                <% if  @job.inspection_checklist == nil && @job.job_managers.pluck(:job_manager_id).include?(current_user.id) %>
                <div class="panel with-nav-tabs panel-primary margin-top-2">
                    <div class="panel-heading">
                      Checklist For Initial Inspection
                    </div>
                    <div class="panel-body">
                      <%= form_for [@job, @inspection_checklist] do |f| %>
                        <div class="field">
                          <%= f.label :estimate_will_be_sent, "When is an estimate is going to be sent?" %><br>
                          <%= f.date_select :estimate_will_be_sent %>
                        </div>
                        <div class="field">
                          <%= f.label :estimate_given_verbally, "Was an estimated price given verbally?" %><br>
                          <%= f.check_box :estimate_given_verbally %>
                        </div>
                        <div class="field">
                          <%= f.label :estimate_range, "Estimate range amount?" %><br>
                          <%= f.text_field :estimate_range, class: "form-control" %>
                        </div>
                        <div class="field">
                          <%= f.label :notes %><br>
                          <%= f.text_area :notes, class: "form-control" %>
                        </div>
                        <div class="field">
                          <%= f.label :next_steps, "What were the next steps described to the customer?" %><br>
                          <%= f.text_area :next_steps, class: "form-control" %>
                        </div>

                        <div class="field">
                          <%= f.label :send_within_one_day, "Estimate will be prepared and sent within 1 business day?" %><br>
                          <%= f.check_box :send_within_one_day %>
                        </div>
                        <div class="field">
                          <%= f.label :additional_vendor, "Will we be bringing in another Vendor?" %><br>
                          <%= f.check_box :additional_vendor %>
                        </div>
                        <div class="field">
                          <%= f.label :verify_information, "Verify all the basic information, and update the customer information if necessary?" %><br>
                          <%= f.check_box :verify_information %>
                        </div>
                        <div class="field">
                          <%= f.label :potential_construction, "Does the job have potential for construction?" %><br>
                          <%= f.check_box :potential_construction %>
                        </div>
                        <div class="actions">
                          <%= f.submit %>
                        </div>
                      <% end %>

                    </div>
                  </div>
                <% end %>
                <div class="panel with-nav-tabs panel-primary margin-top-2">
                    <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#notes" aria-controls="notes" role="tab" data-toggle="tab">Take Notes</a>
                            </li>
                            <li>
                                <a href="#activity" aria-controls="activity" role="tab" data-toggle="tab">Add Activity</a>
                            </li>
                            <li>
                                <a href="#upload" aria-controls="upload" role="tab" data-toggle="tab">Files</a>
                            </li>
                            <li>
                                <a href="#call" aria-controls="call" role="tab" data-toggle="tab">Calls</a>
                            </li>
                            <li>
                                <a href="#work_order" aria-controls="work_order" role="tab" data-toggle="tab">Work Order</a>
                            </li>
                            <li>
                                <a href="#purchase_order_approval" aria-controls="purchase_order_approval" role="tab" data-toggle="tab">Purchase Order Approval</a>
                            </li>
                            <li>
                                <a href="#pricing" aria-controls="pricing" role="tab" data-toggle="tab">Estimate</a>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="notes">
                                <%= form_for @note do |f| %>
                                <%= hidden_field_tag "job[job_id]", @job.id %>
                                <% if @note.errors.any? %>
                                <div id="error_explanation">
                                    <h2><%= pluralize(@note.errors.count, "error") %>
                                        prohibited this note from being saved:</h2>

                                    <ul>
                                        <% @note.errors.full_messages.each do |message| %>
                                        <li><%= message %></li>
                                        <% end %>
                                    </ul>
                                </div>
                                <% end %>

                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <div class="field">
                                            <%= f.text_area :content, class: 'form-control', data: {behavior: 'autocomplete'} %>
                                        </div>
                                    </div>
                                    <div class="actions">
                                        <%= f.submit class: "btn btn-primary" %>
                                    </div>

                                </div>
                                <% end %>
                            </div>
                            <div class="tab-pane fade" id="activity">

                                <%= form_for [@job, @scheduler] do |f| %>

                                <% if @scheduler.errors.any? %>
                                <div id="error_explanation">
                                    <h2><%= pluralize(@scheduler.errors.count, "error") %>
                                        prohibited this note from being saved:</h2>

                                    <ul>
                                        <% @scheduler.errors.full_messages.each do |message| %>
                                        <li><%= message %></li>
                                        <% end %>
                                    </ul>
                                </div>
                                <% end %>
                                <div class="row">
                                    <div class="col-sm-3">
                                        Calendar (Coming Soon)
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="row">
                                            <div class="col-xs-12 scheduler-icons">
                                                <div class="btn-group" data-toggle="buttons">
                                                    <label class="btn btn-primary active">
                                                        <input type="radio" name="scheduler[scheduler_event_type_id]" value="1" id="scheduler_event_type_id_1" autocomplete="off" checked>
                                                        <span class="glyphicon glyphicon-earphone" aria-hidden="true">Call</span>
                                                    </label>
                                                    <label class="btn btn-primary">
                                                        <input type="radio" name="scheduler[scheduler_event_type_id]" value="2" id="scheduler_event_type_id_2" autocomplete="off">
                                                        <span class="glyphicon glyphicon-user" aria-hidden="true">Meeting</span>
                                                    </label>
                                                    <label class="btn btn-primary">
                                                        <input type="radio" name="scheduler[scheduler_event_type_id]" value="5" id="scheduler_event_type_id_2" autocomplete="off">
                                                        <span class="glyphicon glyphicon-user" aria-hidden="true">Initial Inspection</span>
                                                    </label>
                                                    <label class="btn btn-primary">
                                                        <input type="radio" name="scheduler[scheduler_event_type_id]" value="3" id="scheduler_event_type_id_3" autocomplete="off">
                                                        <span class="glyphicon glyphicon-time" aria-hidden="true">Task</span>
                                                    </label>
                                                    <label class="btn btn-primary">
                                                        <input type="radio" name="scheduler[scheduler_event_type_id]" value="4" id="scheduler_event_type_id_4" autocomplete="off">
                                                        <span class="glyphicon glyphicon-cutlery" aria-hidden="true">Lunch</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-xs-12">
                                                <%= f.text_field :title, placeholder: "Description", class:"form-control margin-top-2" %>
                                            </div>
                                            <div class="col-xs-4 margin-top-2">
                                                <%= f.label :event_date, "Date (Required)" %><br>
                                                <%= f.text_field :event_date, class:"form-control datePicker", required: true %>
                                            </div>
                                            <div class="col-xs-4 margin-top-2">
                                                <%= f.label :start_time %><br>
                                                <%= f.text_field :start_time, class:"form-control timepicker" %>
                                            </div>
                                            <div class="col-xs-4 margin-top-2">
                                                <%= f.label :end_time %><br>
                                                <%= f.text_field :end_time, class:"form-control timepicker" %>
                                            </div>

                                            <div class="col-xs-12 margin-top-2">
                                                <%= f.text_area :notes, class: "form-control", placeholder: "Notes" %>
                                            </div>
                                            <div id="other-assign-to-user" class="col-xs-12 margin-top-2">
                                                <%= f.label :assigned_to_user_id %><br>
                                                <%= f.collection_select :assigned_to_user_id, User.all, :id, :full_name, {prompt: true},  { class: 'form-control'} %>
                                            </div>
                                            <div id="manager-assign-to-user" class="col-xs-12 margin-top-2 hidden">
                                                <%= f.label :assigned_to_user_id, "Assigned to Manager" %><br>
                                              <% if @job.franchise_id %>
                                                <%= f.collection_select :assigned_to_user_id, User.joins(:franchise_users).merge(FranchiseUser.where(franchise_id: @job.franchise_id)), :id, :full_name, {prompt: true, selected: @job.job_managers.try(:first).try(:job_manager_id)},  { class: 'form-control'} %>
                                              <% else %>
                                                <% role = Role.find_by(name: "Project Manager") %>
                                                <%= f.collection_select :assigned_to_user_id, User.where(role_id: role.id), :id, :full_name, {prompt: true, selected: @job.job_managers.try(:first).try(:job_manager_id)},  { class: 'form-control'} %>

                                                <% end %>
                                            </div>
                                            <div class="col-xs-3 col-xs-offset-9 margin-top-2">
                                                <%= f.submit "Add", class: "btn btn-primary" %>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <% end %>
                            </div>
                            <div class="tab-pane fade" id="upload">
                                <%= form_for [@job, @upload] do |f| %>
                                <% if @upload.errors.any? %>
                                <div id="error_explanation">
                                    <h2><%= pluralize(@upload.errors.count, "error") %>
                                        prohibited this upload from being saved:</h2>

                                    <ul>
                                        <% @upload.errors.full_messages.each do |message| %>
                                        <li><%= message %></li>
                                        <% end %>
                                    </ul>
                                </div>
                                <% end %>
                                <div class="col-sm-6 col-sm-offset-3">
                                    <div class="form-group">
                                        <%= f.label :upload_category_id %><br>
                                        <%= f.collection_select :upload_category_id, UploadCategory.all, :id, :name, {:prompt => 'Select an Upload Type'},  { class: 'form-control'} %>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-sm-offset-3">
                                    <%= f.label :description %><br>
                                    <%= f.text_area :description, class:"form-control" %>
                                </div>
                                <div class="col-sm-6 col-sm-offset-3">
                                    <%= f.label :upload %><br>
                                    <%= f.file_field :uploads, multiple: true %>
                                </div>
                                <br>
                                <div class="col-sm-6 col-sm-offset-3 text-center margin-top-3">
                                    <%= f.submit class: "btn btn-primary" %>
                                </div>
                                <% end %>
                            </div>
                            <div class="tab-pane fade" id="call">
                                <div class="col-xs-12">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class=" ">
                                                <%= form_tag create_job_call_path(@job), method: :post do  %>
                                                <%= hidden_field_tag "call[job_id]", @job.id %>

                                                <div class="col-xs-6 col-xs-offset-3">
                                                    <div class="form-group">
                                                        <label for="call_id">Call ID</label><br/>
                                                        <input id="id" name="call[id]" type="number" class="form-control"/>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6 col-xs-offset-3">
                                                    <div class="form-group">
                                                        <label for="call_id">Notes</label><br/>
                                                        <textarea id="note" name="call[note]" class="form-control"></textarea>
                                                    </div>
                                                </div>

                                                <div class="col-xs-12 text-center">
                                                    <div class="form-group">
                                                        <div class="actions">
                                                            <%= submit_tag "Add Call to Job", class: "btn btn-primary" %>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% end %>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">Added Calls</div>
                                            <div class="panel-body table-responsive">
                                                <table
                                                    class="resp"
                                                    data-toggle="table"
                                                    data-url="<%=@job.id %>/calls.json"
                                                    data-show-refresh="true"
                                                    data-show-toggle="true"
                                                    data-show-columns="true"
                                                    data-search="true"
                                                    data-flat="true"
                                                    data-select-item-name="toolbar1"
                                                    data-pagination="true"
                                                    data-sort-name="id"
                                                    data-sort-order="desc">
                                                    <thead>
                                                        <tr>
                                                          <th data-field="callrail_id" data-sortable="true" data-formatter="ReturnCallRail">CallRail Timeline</th>
                                                            <th data-field="id" data-sortable="true" data-formatter="CallLinkFormatter">Call Link</th>
                                                            <th data-field="callrail_id" data-sortable="true">CallRail ID</th>
                                                            <th data-field="datetime" data-sortable="true">Call Date/Time</th>
                                                            <th data-field="customer_phone_number" data-sortable="true">Phone Number</th>
                                                            <th data-field="customer_city" data-sortable="true">City</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="col-lg-12">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">Calls</div>
                                            <div class="panel-body table-responsive">
                                                <table
                                                    class="resp"
                                                    data-toggle="table"
                                                    data-url="/calls"
                                                    data-show-refresh="true"
                                                    data-show-toggle="true"
                                                    data-show-columns="true"
                                                    data-search="true"
                                                    data-flat="true"
                                                    data-select-item-name="toolbar1"
                                                    data-pagination="true"
                                                    data-sort-name="id"
                                                    data-sort-order="desc">
                                                    <thead>
                                                        <tr>
                                                            <th data-field="id" data-sortable="true" data-formatter="AddVendor"></th>
                                                            <th data-field="id" data-sortable="true" data-formatter="CallLinkFormatter">Call Link</th>
                                                            <th data-field="callrail_id" data-sortable="true">CallRail ID</th>
                                                            <th data-field="datetime" data-sortable="true">Call Date/Time</th>
                                                            <th data-field="customer_phone_number" data-sortable="true">Phone Number</th>
                                                            <th data-field="customer_city" data-sortable="true">City</th>
                                                            <th data-field="callrail_id" data-sortable="true" data-formatter="CallRailTimeline">CallRail Timeline</th>

                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>

                            <div class="tab-pane fade" id="work_order">
                              <%= render partial: 'work_orders/form' %>
                            </div>

                            <div class="tab-pane fade" id="purchase_order_approval">
                              <%= form_for [@job, @purchase_order_approval] do |f| %>

                                <% if @purchase_order_approval.errors.any? %>
                                  <div id="error_explanation">
                                    <h2><%= pluralize(@purchase_order_approval.errors.count, "error") %> prohibited this purchase_order_approval from being saved:</h2>

                                    <ul>
                                    <% @purchase_order_approval.errors.full_messages.each do |message| %>
                                      <li><%= message %></li>
                                    <% end %>
                                    </ul>
                                  </div>
                                <% end %>

                                <div class="col-xs-12">
                                  <%= f.label :date %><br>
                                  <%= f.date_select :date %>
                                </div>
                                <div class="col-xs-12">
                                  <%= f.label :job_name %><br>
                                  <%= f.text_field :job_name, class: "form-control" %>
                                </div>
                                <div class="col-xs-12">
                                  <%= f.label :vendor %><br>
                                  <%= f.text_field :vendor, class: "form-control" %>
                                </div>
                                <div class="col-xs-12">
                                  <%= f.label :purchase_item %><br>
                                  <%= f.text_field :purchase_item, class: "form-control" %>
                                </div>
                                <div class="col-xs-12">
                                  <%= f.label :amount %><br>
                                  <%= f.text_field :amount, class: "form-control" %>
                                </div>
                                <div class="col-xs-12">
                                  <%= f.label :description %><br>
                                  <%= f.text_field :description, class: "form-control" %>
                                </div>
                                <div class="col-xs-12">
                                  <%= f.label :last_four_card %><br>
                                  <%= f.text_field :last_four_card, class: "form-control" %>
                                </div>
                                <div class="col-xs-12 margin-top-2">
                                  <%= f.submit  class: "btn btn-primary" %>
                                </div>
                              <% end %>

                            </div>

                            <div class="tab-pane fade" id="pricing">
                              <%= form_for [@job, @pricing] do |f| %>

                                <% if @pricing.errors.any? %>
                                  <div id="error_explanation">
                                    <h2><%= pluralize(@pricing.errors.count, "error") %> prohibited this pricing from being saved:</h2>

                                    <ul>
                                    <% @pricing.errors.full_messages.each do |message| %>
                                      <li><%= message %></li>
                                    <% end %>
                                    </ul>
                                  </div>
                                <% end %>

                                <div class="col-xs-12">
                                  <%= f.label :price %><br>
                                  <%= f.number_field :price, class: "form-control", step: "0.01" %>
                                </div>
                                <div class="col-xs-12">
                                  <%= f.label :pricing_category_id %><br>
                                  <%= f.collection_select :pricing_category_id, PricingCategory.all, :id, :name, {prompt: true},  { class: 'form-control'} %>
                                </div>
                                <div class="col-xs-12">
                                  <%= f.label :description %><br>
                                  <%= f.text_field :description, class: "form-control" %>
                                </div>
                                <%= f.fields_for :uploads, @pricing.uploads.build do |g|%>
                                  <div class="col-sm-12">
                                      <%= g.label :upload %><br>
                                      <%= g.file_field :uploads, multiple: true %>
                                  </div>
                                <% end %>
                                <div class="col-xs-12 margin-top-2">
                                  <%= f.submit  class: "btn btn-primary" %>
                                </div>

                              <% end %>

                            </div>
                        </div>



                    </div>
                </div>
            </div>

            <div class="col-xs-12 margin-top-5">
                <h3 class="text-center">Planned</h3>
                <% @future_schedules.each do |scheduler| %>

                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title"><%= scheduler.title %></h3>
                    </div>
                    <div class="panel-body">
                        Date:
                        <%= scheduler.event_date %><br/>
                        Event Type:
                        <%= scheduler.scheduler_event %><br/>
                        Start Time:
                        <%= scheduler.start_time.strftime("%I:%M %p") unless scheduler.start_time == nil %><br/>
                        End Time:
                        <%= scheduler.end_time.strftime("%I:%M %p") unless scheduler.end_time == nil %><br/>
                        Notes:
                        <%= scheduler.notes %>
                        <br/>
                        <%= scheduler.assigned_to_user.try(:full_name) %>
                        <br />

                    </div>
                </div>
                <% end %>

            </div>

            <div class="col-xs-12 margin-top-5">
                <h3 class="text-center">Past</h3>
                <div class="margin-bottom-4 center-block">
                  <div class="btn-group">
                    <button type="button" class="btn btn-default btn-filter" data-target="all">All</button>
                    <button type="button" class="btn btn-default btn-filter" data-target="note">Note</button>
                    <button type="button" class="btn btn-default btn-filter" data-target="file-uploaded">File Uploaded</button>
                    <button type="button" class="btn btn-default btn-filter" data-target="call-assigned">Call Assigned</button>
                    <button type="button" class="btn btn-default btn-filter" data-target="work-order">Work Order</button>
                    <button type="button" class="btn btn-default btn-filter" data-target="purchase-order">Purchase Order</button>
                    <button type="button" class="btn btn-default btn-filter" data-target="inspection-checklist">Inspection Checklist</button>
                    <button type="button" class="btn btn-default btn-filter" data-target="pricing">Pricing</button>
                    <button type="button" class="btn btn-default btn-filter" data-target="scheduler">Scheduler</button>
                  </div>
                </div>
                <div class="timeline-centered">


                    <% @job.trackers.order('created_at DESC').each do |tracker| %>
                    <% if tracker.tracker_task.name == "Note Created" %>
                    <% noted = Note.find(tracker.child_id) %>
                    <article data-status="note" class="timeline-entry">
                        <div class="timeline-entry-inner">
                            <div class="timeline-icon bg-success">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </div>
                            <div class="timeline-label">

                                <div class="panel-heading">
                                    <h3 class="panel-title">Note Created &bull;
                                        <%= noted.created_at.strftime("%D %I:%M %p") %>
                                        &bull;
                                        <%= noted.try(:user).try(:full_name) %></h3>
                                </div>
                                <div class="panel-body">
                                    <%= best_in_place noted, :content, :as => :textarea %>
                                    <br />
                                    <%= link_to 'Delete Note',  tracker_path(tracker, job_id: @job.id),  method: :delete, data: { confirm: 'Are you sure?' } %>
                                </div>
                            </div>
                        </div>
                    </article>

                    <% elsif tracker.tracker_task.name == "File Uploaded" %>
                    <% upload = Upload.find(tracker.child_id) %>
                    <article data-status="file-uploaded" class="timeline-entry">
                        <div class="timeline-entry-inner">
                            <div class="timeline-icon bg-success">
                                <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                            </div>
                            <div class="timeline-label">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Upload &bull;
                                        <%= upload.try(:created_at).strftime("%D %I:%M %p") %>
                                        &bull;
                                        <%= tracker.user.try(:full_name) %>
                                    </h3>
                                </div>
                                <div class="panel-body">
                                  <% upload.uploads.each_with_index do |file, index| %>
                                    <%= upload.description  %> <br />
                                    <%= upload.uploads[index].file.filename  %> -
                                    <a target="_blank" href="<%= file.try(:url) %>">View/Download</a><br />
                                  <% end %>
                                </div>
                            </div>
                        </div>
                    </article>

                    <% elsif tracker.tracker_task.name == "Call Assigned" %>
                    <% call = Call.find(tracker.child_id) %>
                    <article data-status="call-assigned" class="timeline-entry">
                        <div class="timeline-entry-inner">
                            <div class="timeline-icon bg-success">
                                <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                            </div>
                            <div class="timeline-label">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Call Assigned &bull;
                                        <%= tracker.created_at.strftime("%D %I:%M %p") %>
                                        &bull;
                                        <%= tracker.try(:user).try(:full_name) %></h3>
                                </div>
                                <div class="panel-body">
                                    <% if tracker.note %>
                                      <span class="bold">Note: </span><%= tracker.note %> <br />
                                    <% end %>
                                    <a class="btn btn-primary margin-top-1" target="_blank" href="https://app.callrail.com/calls/<%= call.callrail_id %>">View Call</a> <br />
                                    <%= link_to "View Details", call_path(call.id), class: "btn btn-primary margin-top-1" %>
                                </div>
                            </div>
                        </div>
                    </article>

                    <% elsif tracker.tracker_task.name == "Work Order Drafted" %>
                    <% call = WorkOrder.find(tracker.child_id) %>
                    <article data-status="work-order" class="timeline-entry">
                        <div class="timeline-entry-inner">
                            <div class="timeline-icon bg-success">
                                <span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>
                            </div>
                            <div class="timeline-label">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Work Order Drafted &bull;
                                        <%= tracker.created_at.strftime("%D %I:%M %p") %>
                                        &bull;
                                        <%= tracker.try(:user).try(:full_name) %></h3>
                                </div>
                                <div class="panel-body">
                                    <%= link_to "View", job_work_order_path(@job, call.id) %>
                                    <%= link_to 'Delete Draft',  tracker_path(tracker, job_id: @job.id),  method: :delete, data: { confirm: 'Are you sure?' } %>
                                </div>
                            </div>
                        </div>
                    </article>


                    <% elsif tracker.tracker_task.name == "Purchase Order Created" %>
                    <% purchase_order = PurchaseOrderApproval.find(tracker.child_id) %>
                    <article data-status="purchase-order" class="timeline-entry">
                        <div class="timeline-entry-inner">
                            <div class="timeline-icon bg-success">
                                <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
                            </div>
                            <div class="timeline-label">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Purchase Order Approval Created &bull;
                                        <%= tracker.created_at.strftime("%D %I:%M %p") %>
                                        &bull;
                                        <%= tracker.try(:user).try(:full_name) %></h3>
                                </div>
                                <div class="panel-body">
                                    <%= link_to "View Purchase Order", job_purchase_order_approval_path(@job, purchase_order.id) %>
                                </div>
                            </div>
                        </div>
                    </article>

                    <% elsif tracker.tracker_task.name == "Inspection Checklist Created" %>
                    <% checklist = InspectionChecklist.find(tracker.child_id) %>
                    <article data-status="inspection-checklist" class="timeline-entry">
                        <div class="timeline-entry-inner">
                            <div class="timeline-icon bg-success">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </div>
                            <div class="timeline-label">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Inspection Checklist Created &bull;
                                        <%= tracker.created_at.strftime("%D %I:%M %p") %>
                                        &bull;
                                        <%= tracker.try(:user).try(:full_name) %></h3>
                                </div>
                                <div class="panel-body">
                                    Estimate Will Be Sent: <%= checklist.estimate_will_be_sent %> <br />
                                    Estimate Given Verbally: <%= checklist.estimate_given_verbally ? "Yes" : "No" %> <br />
                                    Estimate Range: $<%= checklist.estimate_range %><br />
                                    Notes: <%= checklist.notes %><br />
                                    Next Steps: <%= checklist.next_steps %><br />
                                    Estimate will be prepared and sent within 1 business day?: <%= checklist.send_within_one_day ? "Yes" : "No" %><br />
                                    Will we be bringing in another Vendor?: <%= checklist.additional_vendor ? "Yes" : "No" %><br />
                                    Verify all the basic information, and update the customer information if necessary?: <%= checklist.verify_information  ? "Yes" : "No"%><br />
                                    Does the job have potential for construction?:<%= checklist.potential_construction ? "Yes" : "No" %><br />

                                </div>
                            </div>
                        </div>
                    </article>

                    <% elsif tracker.tracker_task.name == "Pricing Created" %>
                    <% pricing = Pricing.find(tracker.child_id) %>
                    <article data-status="pricing" class="timeline-entry">
                        <div class="timeline-entry-inner">
                            <div class="timeline-icon bg-success">
                                <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
                            </div>
                            <div class="timeline-label">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Pricing Created &bull;
                                        <%= tracker.created_at.strftime("%D %I:%M %p") %>
                                        &bull;
                                        <%= tracker.try(:user).try(:full_name) %></h3>
                                </div>
                                <div class="panel-body">
                                    <span class="bold">Pricing:</span> $<%= pricing.price %> <br />
                                    <span class="bold">Category:</span> <%= pricing.try(:pricing_category).try(:name) %> <br />
                                    <span class="bold">Description:</span> <%= pricing.description%> <br />
                                    <span class="bold">Job Status (At time of Pricing):</span> <%= pricing.job_status.name %><br />
                                    <% unless pricing.uploads.empty? %>
                                    <% pricing.uploads.first.uploads.each_with_index do |file, index| %>
                                      <%= pricing.uploads.first.uploads[index].file.filename  %> -
                                      <a target="_blank" href="<%= file.try(:url) %>">View/Download</a><br />
                                    <% end %>
                                    <% end %>
                                    <% if @job.pricings.last == pricing %>
                                    <% unless pricing.try(:pricing_category).try(:name) == "Final Estimate" %>
                                    <%= link_to  "Move Pricing to Next Category", move_to_next_path(job_id: @job, pricing_id: pricing.id),class:"btn btn-primary" %>
                                    <% end %>
                                    <% end %>


                                </div>

                            </div>
                        </div>
                    </article>

                    <% elsif tracker.tracker_task.name == "Scheduler Created" %>
                    <% scheduler = Scheduler.find(tracker.child_id) %>
                    <% if scheduler.event_date.past? %>
                    <article data-status="scheduler" class="timeline-entry">
                        <div class="timeline-entry-inner">
                            <div class="timeline-icon bg-success">
                                <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
                            </div>
                            <div class="timeline-label">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><%= scheduler.title %>
                                        &bull;
                                        <%= tracker.created_at.strftime("%D %I:%M %p") %>
                                        &bull;
                                        <%= tracker.try(:user).try(:full_name) %></h3>
                                </div>
                                <div class="panel-body">
                                    Date:
                                    <%= scheduler.event_date %><br/>
                                    Event Type:
                                    <%= scheduler.scheduler_event %><br/>
                                    Start Time:
                                    <%= scheduler.start_time.strftime("%I:%M %p") unless scheduler.start_time == nil %><br/>
                                    End Time:
                                    <%= scheduler.end_time.strftime("%I:%M %p") unless scheduler.end_time == nil %><br/>
                                    Notes:
                                    <%= scheduler.notes %>
                                    <br/>
                                    <%= scheduler.assigned_to_user.try(:full_name) %>

                                    <br />
                                    <%= link_to 'Delete Scheduled Event',  tracker_path(tracker, job_id: @job.id),  method: :delete, data: { confirm: 'Are you sure?' } %>
                                </div>

                            </div>
                        </div>
                    </article>
                    <% end %>
                    <% end %>

                    <% end %>

                    <% if @job.job_note && @job.job_note != "" %>
                    <article data-status="note" class="timeline-entry">
                        <div class="timeline-entry-inner">
                            <div class="timeline-icon bg-success">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </div>
                            <div class="timeline-label">

                                <div class="panel-heading">
                                    <h3 class="panel-title">Note Created &bull;
                                        <%= @job.created_at.strftime("%D %I:%M %p") %>
                                        &bull;
                                        <%= @job.try(:user).try(:full_name) %></h3>
                                </div>
                                <div class="panel-body">
                                    <%= @job.job_note %>

                                </div>
                            </div>
                        </div>
                    </article>
                    <% end %>
                </div>

            </div>
        </div>
    </div>


    <div id="currentCallsModal" class="modal fade" tabindex="-1" role="dialog">
        <%= form_for :call, url: create_job_call_url(@job), method: :post do |f|  %>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Add Current Call</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">


                              <%= hidden_field_tag "call[job_id]", @job.id %>

                              <div class="col-xs-6 col-xs-offset-3">
                                  <div class="form-group">
                                      <%= f.collection_select :id, Call.where(inprogress: "true"), :id, :customer_phone_number, {prompt: true},  { class: 'form-control'} %>
                                  </div>
                              </div>

                              <div class="col-xs-12 text-center">
                                  <div class="form-group">
                                      <div class="actions">

                                      </div>
                                  </div>
                              </div>



                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <%= f.submit "Add Call to Job", class: "btn btn-primary" %>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
        <% end %>
    </div>


    <div id="changeStatus" class="modal fade" tabindex="-1" role="dialog">
        <%= form_for @job do |f|  %>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Update Job Status</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">


                              <div class="col-xs-4">
                                  <div class="form-group">
                                      <%= f.label :status_id %><br>
                                      <%= f.collection_select :status_id, JobStatus.all, :id, :name, {selected: @job.status_id},  { class: 'form-control'} %>
                                  </div>
                              </div>



                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <%= f.submit "Update", class: "btn btn-primary" %>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
        <% end %>
    </div>






    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });

        flatpickr(".datePicker", {
            enableTime: false,
            // create an extra input solely for display purposes
            altInput: true,
            altFormat: "F j, Y"
        });

        $('[data-toggle=tab]').click(function () {
            if ($(this).parent().hasClass('active')) {
                $($(this).attr("href")).toggleClass('active');
            }
        })

       $('[data-behavior="autocomplete"]').atwho({
          at: '@',
          data: '<%= mentionables_path %>',
          insertTpl: '@${first_name}_${last_name}',
          searchKey: "first_name",
          displayTpl: '<li data-id="${id}"><span>@${first_name}_${last_name}</span></li>',
        });

    </script>
