<p id="notice"><%= notice %></p>

<h1>Listing Affected Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @affected_types.each do |affected_type| %>
      <tr>
        <td><%= affected_type.name %></td>
        <td><%= link_to 'Show', affected_type %></td>
        <td><%= link_to 'Edit', edit_affected_type_path(affected_type) %></td>
        <td><%= link_to 'Destroy', affected_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Affected type', new_affected_type_path %>
