<div id="sidebar-wrapper">
    <ul class="sidebar-nav">

      <li>
          <div class="assignment-card">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h3 class="panel-title">LOSS COORDINATOR <a class="inline" data-toggle="modal" data-target="#job_coordinator"><i class="glyphicon glyphicon-plus" aria-hidden="true"></i></a></h3>
                  </div>
                  <% if @job.job_coordinator %>
                  <div class="panel-body">
                      <ul>
                          <li>
                              <%= @job.try(:job_coordinator).try(:full_name) %>
                          </li>
                      </ul>
                  </div>
                  <% end %>
              </div>
          </div>
      </li>

      <li>
          <div class="assignment-card">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h3 class="panel-title">PROJECT MANAGER <a class="inline" data-toggle="modal" data-target="#job_manager"><i class="glyphicon glyphicon-plus" aria-hidden="true"></i></a></h3>
                  </div>
                  <% unless @job.job_managers.empty? %>

                  <div class="panel-body">
                      <ul>
                        <% @job.job_managers.each do |job_manager| %>
                          <li><%= job_manager.job_manager.try(:full_name) %></li>
                        <% end %>
                      </ul>
                  </div>

                  <% end %>
              </div>
          </div>
      </li>

      <li>
          <div class="assignment-card">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h3 class="panel-title">CUSTOMER <a class="inline" data-toggle="modal" data-target="#customer"><i class="glyphicon glyphicon-plus" aria-hidden="true"></i></a></h3>
                  </div>
                  <% if @job.customer %>
                  <div class="panel-body">

                    Name: <%= @job.customer.full_name %> <br />
                    <% if @job.customer.try(:address).address_1 &&  @job.customer.try(:address).address_1 != ""  %>
                    <%= @job.customer.try(:address).address_1 %> <br />
                    <% end %>
                    <% if @job.customer.try(:address).address_2 &&  @job.customer.try(:address).address_2 != "" %>
                    <%= @job.customer.try(:address).address_2  %> <br />
                    <% end %>
                    <%= @job.customer.try(:address).city %>, <%= @job.customer.try(:address).try(:state).try(:name) %>  <%= @job.customer.try(:address).zip_code %>
                    <%= link_to "View", @job.customer %>
                  </div>
                  <% end %>
              </div>
          </div>
      </li>

      <li>
          <div class="assignment-card">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h3 class="panel-title">VENDORS <a class="inline" data-toggle="modal" data-target="#vendors"><i class="glyphicon glyphicon-plus" aria-hidden="true"></i></a></h3>
                  </div>
                  <% unless @job.vendor_assignments.empty? %>
                  <div class="panel-body">
                    <% @job.vendor_assignments.each do |vendor| %>
                    Vendor: <%= vendor.vendor.name %> <br />
                    <%= link_to "View", vendor_path(vendor.id) %>
                    <% end %>
                  </div>
                  <% end %>
              </div>
          </div>
      </li>


      <li>
          <div class="assignment-card">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h3 class="panel-title">Caller <a class="inline" data-toggle="modal" data-target="#caller"><i class="glyphicon glyphicon-plus" aria-hidden="true"></i></a></h3>
                  </div>
                  <% if @job.caller %>
                  <div class="panel-body">

                    Name: <%= @job.caller.full_name %> <br />
                    <% if @job.caller.try(:address).address_1 &&  @job.caller.try(:address).address_1 != ""  %>
                    <%= @job.caller.try(:address).address_1 %> <br />
                    <% end %>
                    <% if @job.caller.try(:address).address_2 &&  @job.caller.try(:address).address_2 != "" %>
                    <%= @job.caller.try(:address).address_2  %> <br />
                    <% end %>
                    <%= @job.caller.try(:address).city %>, <%= @job.caller.try(:address).try(:state).try(:name) %>  <%= @job.caller.try(:address).zip_code %>
                    <%= link_to "View", job_caller_path(@job, @job.caller) %>
                  </div>
                  <% end %>
              </div>
          </div>
      </li>


        <li>
            <a href="#">
                <i class="fa fa-bar-chart-o fa-fw"></i>
                Job<span class="glyphicon glyphicon-chevron-down"></span>
            </a>
            <ul class="nav nav-second-level">
                <li>
                    <%= link_to job_path(@job)  do %>
                    <i class="<%= @job ? 'glyph-done' : 'glyph-incomplete'  %> glyphicon glyphicon-ok"></i>
                    Job Information
                    <% end %>
                </li>

                <li>
                    <%= link_to new_or_view_job_loss_path(@job, @job.losses)  do %>
                    <i class="<%= @job.losses ? 'glyph-done' : 'glyph-incomplete'  %> glyphicon glyphicon-ok"></i>
                    Loss Information
                    <% end %>
                </li>
                <li>
                    <%= link_to new_or_view_job_property_path(@job, @job.property)  do %>
                    <i class="<%= @job.property ? 'glyph-done' : 'glyph-incomplete'  %> glyphicon glyphicon-ok"></i>
                    Property Information
                    <% end %>
                </li>
                <li>
                    <%= link_to new_or_view_job_detail_path(@job, @job.job_detail)  do %>
                    <i class="<%= @job.job_detail ? 'glyph-done' : 'glyph-incomplete'  %> glyphicon glyphicon-ok"></i>
                    Billing Details
                    <% end %>
                </li>


            </ul>
            <!-- /.nav-second-level -->
        </li>

        <!-- <li>
            <a href="#">
                <i class="fa fa-bar-chart-o fa-fw"></i>
                Contact<span class="glyphicon glyphicon-chevron-down"></span>
            </a>
            <ul class="nav nav-second-level">
                <li>
                    <% link_to new_or_view_job_caller_path(@job, @job.caller)  do %>
                    <i class="<%= @job.caller ? 'glyph-done' : 'glyph-incomplete'  %> glyphicon glyphicon-ok"></i>
                    Caller Information
                    <% end %>
                </li>
                <li>
                    <% link_to job_calls_path(@job)  do %>
                    <i class="<%= @job.calls ? 'glyph-done' : 'glyph-incomplete'  %> glyphicon glyphicon-ok"></i>
                    Phone Calls
                    <% end %>
                </li>
            </ul>

        </li> -->

        <li>
            <a href="#">
                <i class="fa fa-bar-chart-o fa-fw"></i>
                Job Contacts<span class="glyphicon glyphicon-chevron-down"></span>
            </a>
            <ul class="nav nav-second-level">
                <!-- <li>
                    <% link_to new_or_view_job_caller_path(@job, @job.caller)  do %>
                    <i class="<%= @job.caller ? 'glyph-done' : 'glyph-incomplete'  %> glyphicon glyphicon-ok"></i>
                    Caller Information
                    <% end %>
                </li> -->
                <!-- <li>
                    <% link_to new_or_view_customer_path(@job, @job.customer)  do %>
                    <i class="<%= @job.customer ? 'glyph-done' : 'glyph-incomplete'  %> glyphicon glyphicon-ok"></i>
                    Customer Information
                    <% end %>
                </li> -->
                <!-- <li>
                    <% link_to new_or_view_job_manager_path(@job, @job.job_managers)  do %>
                    <i class="<%= @job.job_managers.empty? ? 'glyph-incomplete' : 'glyph-done'  %> glyphicon glyphicon-ok"></i>
                    Manager Assignment
                    <% end %>
                </li> -->
                <!-- <li>
                    <% link_to new_or_view_job_vendor_path(@job, @job.vendor_assignments)  do %>
                    <i class="<%= @job.job_managers ? 'glyph-done' : 'glyph-incomplete'  %> glyphicon glyphicon-ok"></i>
                    Vendor Assignment
                    <% end %>
                </li> -->
                <!-- <li>
                    <% link_to new_or_view_job_contact_path(@job, @job.contact_assignments)  do %>
                    <i class="<%= @job.job_managers ? 'glyph-done' : 'glyph-incomplete'  %> glyphicon glyphicon-ok"></i>
                    Referral Assignment
                    <% end %>
                </li> -->
                <li>
                    <%= link_to new_or_view_agent_path(@job, @job.agent)  do %>
                    <i class="<%= @job.agent ? 'glyph-done' : 'glyph-incomplete'  %> glyphicon glyphicon-ok"></i>
                    Insurance Agent
                    <% end %>
                </li>
                <li>
                    <%= link_to new_or_view_adjuster_path(@job, @job.adjuster)  do %>
                    <i class="<%= @job.adjuster ? 'glyph-done' : 'glyph-incomplete'  %> glyphicon glyphicon-ok"></i>
                    Insurance Adjuster
                    <% end %>
                </li>
                <li>
                    <%= link_to new_or_view_job_emergency_contact_path(@job, @job.emergency_contact)  do %>
                    <i class="<%= @job.emergency_contact ? 'glyph-done' : 'glyph-incomplete'  %> glyphicon glyphicon-ok"></i>
                    Emergency Contacts
                    <% end %>
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>
        <li>

            <%= link_to new_or_view_job_work_order_path(@job, @job.work_orders)  do %>
            Work Order
            <% end %>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-bar-chart-o fa-fw"></i>
                Job Files<span class="glyphicon glyphicon-chevron-down"></span>
            </a>
            <ul class="nav nav-second-level">
                <li>
                    <%= link_to job_uploads_path(@job)  do %>
                    <i class="<%= @job.uploads.empty? ? 'glyph-incomplete' : 'glyph-done'  %> glyphicon glyphicon-ok"></i>
                    Files/Uploads
                    <% end %>
                </li>
            </ul>
        </li>
        <li>
            <%= link_to job_overview_path(@job)  do %>
            Job Overview
            <% end %>
        </li>

        <li>
            <%= link_to job_loss_sheet_path(@job)  do %>
            Loss Sheet
            <% end %>
        </li>



        <li class="margin-top-2">
            <div class="assignment-card">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">SUBSCRIBERS (<%=@job.subscriptions.count %>) <a class="inline" data-toggle="modal" data-target="#subscriptions"><i class="glyphicon glyphicon-plus" aria-hidden="true"></i></a></h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <% @job.subscriptions.each do |subscriber| %>

                            <li>
                                <%= subscriber.user.full_name %>
                            </li>

                            <% end %>
                        </ul>
                    </div>
                </div>

            </div>
        </li>







    </ul>

</div>
<!-- /#sidebar-wrapper -->


<div class="modal fade" id="subscriptions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Subscriptions</h4>
      </div>
      <%= form_for [@job, @job.subscriptions.new] do |f| %>
      <div class="modal-body">
          <div class="field">
            <%= f.label :user_id %><br>
            <%= f.collection_select :user_id, User.all, :id, :full_name, {:prompt => 'Select a User'},  { class: 'form-control'} %>
          </div>


      </div>
      <div class="modal-footer">
        <%= f.submit "Save Changes", class: "btn btn-primary" %>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="job_coordinator" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Loss Coordinator Assignment</h4>
      </div>
        <%= form_for @job, url: job_coordinator_assignment_url(@job), method: :post do |f| %>
      <div class="modal-body">
          <% coordinator = Role.find_by(name: "Job Coordinator") %>
          <div class="field">
            <%= f.label :coordinator_id %><br>
            <%= f.collection_select :coordinator_id, User.where("role_id= ? OR id= ? OR id= ?", coordinator.id, 28, 60), :id, :full_name, {:prompt => 'Select a User'},  { class: 'form-control'} %>
          </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit "Save Changes", class: "btn btn-primary" %>

      </div>
      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->

</div><!-- /.modal -->


<div class="modal fade" id="job_manager" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Project Manager Assignment</h4>
      </div>
        <%= form_for @job, url: job_manager_assignment_url(@job), method: :post do |f| %>
      <div class="modal-body">
          <div class="field">
            <%= label_tag :job_manager_id, "Add a Job Manager" %><br>
            <% if @job.franchise_id %>
            <%= select_tag 'job_manager_id', options_from_collection_for_select(User.joins(:franchise_users).merge(FranchiseUser.where(franchise_id: @job.franchise_id)), "id", "full_name"), class: "form-control"  %>
            <% else %>
            <% role = Role.find_by(name: "Project Manager") %>
            <%= select_tag 'job_manager_id', options_from_collection_for_select(User.where(role_id: role.id), "id", "full_name"), class: "form-control"  %>
            <% end %>

          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit "Save Changes", class: "btn btn-primary" %>

      </div>
      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->

</div><!-- /.modal -->




<div id="customer" class="modal fade" tabindex="-1" role="dialog">
    <% @customer = @job.customer || @customer = Customer.new %>
    <%= form_for @customer do |f| %>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add Customer</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">

                            <% if @job %>
                            <%= hidden_field_tag "job[job_id]", @job.id %>
                            <% end %>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <%= f.label :first_name %><br>
                                    <%= f.text_field :first_name, class:"form-control" %>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <%= f.label :last_name %><br>
                                    <%= f.text_field :last_name, class:"form-control" %>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <%= f.label :email %><br>
                                    <%= f.text_field :email, class:"form-control" %>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <%= f.label :company_name %><br>
                                    <%= f.text_field :company_name, class:"form-control" %>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <%= f.label :owner, "Sales Rep" %><br>
                                    <%= f.collection_select :owner_id, User.all, :id, :full_name, {:prompt => 'Select a User'},  { class: 'form-control'} %>
                                </div>
                            </div>
                            <%= render 'customers/address_form', f: f %>
                            <%= render 'partials/sidebar_phone_form', f: f %>




                            <!-- /.modal-dialog -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <%= f.submit "Save changes" , class: 'btn btn-primary' %>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
    <% end %>
</div>


<div id="caller" class="modal fade" tabindex="-1" role="dialog">
    <%= form_for @job.caller,  url: job_caller_assignment_url(@job), method: :post do |f| %>
    <%= hidden_field_tag "job[id]", @job.id %>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Caller</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                          <div class="col-xs-4">
                              <div class="form-group">
                                  <%= label_tag :first_name %><br>
                                  <%= text_field_tag "caller[first_name]", @job.try(:caller).try(:first_name), class: "form-control"  %>
                              </div>
                          </div>
                          <div class="col-xs-4">
                              <div class="form-group">
                                  <%= label_tag :last_name %><br>
                                  <%= text_field_tag "caller[last_name]",  @job.try(:caller).try(:last_name), class: "form-control"  %>
                              </div>
                          </div>
                          <div class="col-xs-4">
                              <div class="form-group">
                                  <%= label_tag :email %><a data-toggle="tooltip" class="tooltipLink" data-original-title="A - Apple  H - Happy  O - Orange   V - Victor
                          B - Boy      I - Ice            P - Paul        W - Work
                          C - Cat      J - Jack        Q - Queen    X - X-Ray
                          D - David  K - King       R - Rabbit    Y - Yes
                          E - Eagle  L - Lion         S - Sam       Z - Zebra
                          F - Frank  M - Mary     T - Tom
                          G - Girl      N - Nancy   U - Universe">
                                      <span class="glyphicon glyphicon-info-sign"></span>
                                  </a><br>
                                  <%= text_field_tag "caller[email]",  @job.try(:caller).try(:email), class: "form-control"  %>
                              </div>
                          </div>
                          <div class="col-xs-6">
                              <div class="form-group">
                                  <%= label_tag :address_1 %><br>
                                  <%= text_field_tag "address[address_1]", @job.try(:caller).try(:address).try(:address_1), class: "form-control"  %>
                              </div>
                          </div>
                          <div class="col-xs-6">
                              <div class="form-group">
                                  <%= label_tag :address_2 %><br>
                                  <%= text_field_tag "address[address_2]", @job.try(:caller).try(:address).try(:address_2), class: "form-control" %>
                              </div>
                          </div>


                          <div class="col-xs-12">
                              <div class="row">
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <%= label_tag :zip %><br>
                                        <%= text_field_tag "address[zip_code]", @job.try(:caller).try(:address).try(:zip_code), class: "form-control"  %>
                                    </div>
                                </div>
                                  <div class="col-xs-3">
                                      <label>Zip Code Lookup</label><br>
                                      <button id="zipLookup" type="button" class="btn btn-primary">Lookup</button>
                                  </div>
                              </div>
                          </div>
                          <div class="col-xs-6">
                              <div class="form-group">
                                  <%= label_tag :city %><br>
                                  <%= text_field_tag "address[city]", @job.try(:caller).try(:address).try(:city), class: "form-control"  %>
                              </div>
                          </div>
                          <div class="col-xs-6">
                              <div class="form-group">
                                  <%= label_tag :state_id %><br>
                                  <%= select_tag("address[state_id]", options_for_select(State.all.map{|p| [p.name, p.id]}, selected: @job.try(:caller).try(:address).try(:state).try(:id)), class: "form-control") %>
                              </div>
                          </div>
                          <div class="col-xs-6">
                              <div class="form-group">
                                  <%= label_tag :county %><br>
                                  <%= text_field_tag "address[county]", @job.try(:caller).try(:address).try(:county), class: "form-control"  %>
                              </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <%= f.submit "Save changes" , class: 'btn btn-primary' %>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
    <% end %>
</div>


<div class="modal fade" id="vendors" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Vendor</h4>
      </div>
      <%= form_for [@job, @job.vendor_assignments.new] do |f| %>
      <div class="modal-body">
          <div class="field">
            <%= f.label :vendor_id %><br>
            <%= f.collection_select :vendor_id, Vendor.all, :id, :name, {:prompt => 'Select a Vendor'},  { class: 'form-control'} %>
          </div>


      </div>
      <div class="modal-footer">
        <%= f.submit "Save Changes", class: "btn btn-primary" %>
      </div>
      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->







<script>
    $(function () {
        $('.sidebar-nav').metisMenu();
    });
</script>
