<div class="container-fluid">
  <div id="wrapper">
    <%= render partial: "partials/jobs_sidebar" %>
    <div id="page-content-wrapper">
      <div class="col-xs-12">
        <%= link_to "Show", @job, class:"btn btn-default margin-top-1 margin bottom-1 pull-left" %>
        <div class="row panel">
          <button class="btn btn-primary margin-top-1 margin-bottom-1 hidden-print pull-right" onclick="printPage()">Print this page</button>
          <div class="col-xs-12">
            <section id="job-information">
              <div class="row">
                  <h1 class="bold text-center">Loss Sheet</h1>
                  <div class="col-xs-4 pull-left">
                    <span class="bold">STATUS:</span>
                    <%= @job.job_status.name %>
                  </div>
                  <div class="col-xs-4 pull-right">
                    <span class="bold">JOB MANAGER:</span>
                    <%= @job.try(:job_managers).try(:first).try(:job_manager).try(:full_name) %>
                  </div>
                </div>

                  <div class="col-xs-9">
                    <h2>SERVPRO of <%= link_to @job.franchise_name, @job.franchise if @job.franchise.present? %></h2>
                    <div/>
                </div>
              </div>
              <div class="row margin-top-4">
                <div class="col-xs-4">
                  <span class="bold">Date Recieved:
                  </span><%= @job.try(:losses).try(:first).try(:fnol_received).try(:strftime, "%A, %D %l:%M %P") %>
                </div>

                <div class="col-xs-4">
                  <span class="bold">Taken On:
                  </span><%= @job.created_at.try(:strftime, "%a, %D %l:%M %P") %>
                </div>

                <div class="col-xs-4">
                  <span class="bold">Taken By:
                  </span><%= @job.try(:user).try(:full_name) %><br/>

                  <span class="bold">Loss Coordinator:
                  </span><%=@job.try(:job_coordinator).try(:full_name) %>
                </div>

                <div class="col-xs-4">
                  <span class="bold">Referral Type:
                  </span><%= @job.referral_type_name %>
                </div>

                <div class="col-xs-4">
                  <span class="bold">Called In By:
                  </span><%= @job.try(:caller).try(:full_name) %>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12">
                  <div>
                    <h3>
                      <span class="bold">Insured (Customer):
                      </span>
                      <% if @job.name && @job.name != "" %>
                            <%= link_to @job.name, @job %>
                      <% else %>
                            <%= link_to "Show", @job %>
                      <% end %>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div>
                    <span class="bold">Cell #:
                    </span>
                    <% if @job.customer && @job.customer.phones %>
                    <% @job.try(:customer).try(:cell_phones).each do |phone| %>
                    <%= phone.number %><br />
                    <% end %>
                    <% end %>
                  </div>

                  <div>
                    <span class="bold">Home #:
                    </span>
                    <% @job.try(:customer).try(:home_phones).each do |phone| %>
                    <%= phone.number %><br />
                    <% end %>
                  </div>

                  <div>
                    <span class="bold">Business #:
                    </span>
                    <% if @job.customer && @job.customer.phones %>
                    <% @job.try(:customer).try(:work_numbers).each do |phone| %>
                    <%= phone.number %><br />
                    <% end %>
                    <% end %>
                  </div>

                  <div>
                    <span class="bold">Fax #:
                    </span>
                    <% if @job.customer && @job.customer.phones %>
                    <% @job.try(:customer).try(:fax_numbers).each do |phone| %>
                    <%= phone.number %><br />
                    <% end %>
                    <% end %>
                  </div>

                <div>
                    <span class="bold">Email:
                    </span><%= @job.try(:caller).try(:email) %></div>
                </div>

                <div class="col-xs-6">
                  <div>
                    <span class="bold">Loss Address:
                    </span>
                  </div>
                  <div><%= @job.try(:customer).format_address(:oneline) %></div>
                </div>

                </div>
              </div>
              <div class="row margin-top-3">
                <div class="col-xs-12">
                  <div>
                    <h3>
                      <span class="bold">Other (Caller):
                      </span><%= @job.try(:caller).try(:full_name) %></h3>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div>
                    <% if @job.caller && @job.caller.phones %>
                    <span class="bold">Home #:</span>
                    <% @job.try(:caller).try(:home_phones).each do |phone| %>
                    <%= phone.number %><br />
                    <br/>
                    <% end %>
                    <% end %>
                  </div>

                  <div>
                    <span class="bold">Business #:
                    </span>
                    <% if @job.caller && @job.caller.phones %>
                    <% @job.try(:caller).try(:work_numbers).each do |phone| %>
                    <%= phone.number %><br/>
                    <% end %>
                    <% end %>
                  </div>

                  <div>
                    <span class="bold">Fax #:
                    </span>
                    <% if @job.caller && @job.caller.phones %>
                    <% @job.try(:caller).try(:fax_numbers).each do |phone| %>
                    <%= phone.number %> <br />
                    <br/>
                    <% end %>
                    <% end %>
                  </div>

                  <div>
                    <span class="bold">Cell #:
                    </span>
                    <% if @job.caller && @job.caller.phones %>
                    <% @job.try(:caller).try(:cell_phones).each do |phone| %>
                    <%= phone.number %><br />
                    <% end %>
                    <% end %>
                  </div>
                  <div>
                    <span class="bold">Email:
                    </span><%= @job.try(:caller).try(:email) %></div>
                </div>
                <div class="col-xs-6">
                  <div>
                    <span class="bold">Contact Address:
                    </span>
                  </div>
                  <div><%= @job.try(:caller).format_address(:oneline) %></div>
                  </div>
                </div>
              </div>


              <div class="row margin-top-3">

                <div class="col-xs-6">
                  <div>
                    <span class="bold">Year Built:
                    </span><%= @job.try(:property).try(:year_built) %>
                  </div>


                  <div>
                    <span class="bold">Referred By:
                    </span><%= @job.referral_type.try(:name) %>
                  </div>
                  <div><span class="bold">Referral Note:
                  </span><%= @job.try(:referral_note) %></div>
                  <div><span class="bold">Job Note:
                  </span><%= @job.try(:job_note) %></div>
                  <div><span class="bold">Job Details:
                  </span><%= @job.try(:details) %></div>
                </div>

                <div class="col-xs-6">
                  <div>
                    <span class="bold">Type of Loss:
                    </span>
                    <% @job.losses.each do |loss| %>
                    <%= loss.try(:loss_type).try(:name) %>
                    <% end %>
                  </div>

                  <div>
                    <span class="bold">Date of Loss:
                    </span>
                    <%= @job.try(:losses).try(:first).try(:fnol_received).try(:strftime, "%A, %D") %>
                  <div>

                    <span class="bold">Loss Notes:
                    </span>
                    <%= @job.losses.try(:first).try(:notes) %>
                  </div>
                </div>
              </div>

              <div class="row margin-top-3">

              <div class="col-xs-12 text-center">
                <h3>Insurance Information</h3>
              </div>
              <div class="col-xs-12">
                <span class="bold">Company:
                </span><%= @job.try(:job_detail).try(:insurance_company).try(:name) %>
              </div>
              <div class="col-xs-6">
                <span class="bold">Claim #:
                </span><%= @job.try(:job_detail).try(:claim_number) %>
              </div>
              <div class="col-xs-6">
                <span class="bold">Policy #:
                </span><%= @job.try(:job_detail).try(:policy_number) %>
              </div>
              <div class="col-xs-6">
                <span class="bold">Adjuster:
                </span><%= @job.try(:adjuster).try(:full_name) %>
              </div>
              <div class="col-xs-6">
                <span class="bold">Business #:
                </span>
                <% if @job.adjuster && @job.adjuster.phones %>
                <% @job.try(:adjuster).try(:work_numbers).each do |phone| %>
                <%= phone.number %><br/>
                <% end %>
                <% end %>
              </div>
              <div class="col-xs-6">
                <span class="bold">Cell #:
                </span>
                <% if @job.adjuster && @job.adjuster.phones %>
                <% @job.try(:adjuster).try(:cell_phones).each do |phone| %>
                <%= phone.number %><br/>
                <% end %>
                <% end %>
              </div>
              <div class="col-xs-6">
                <span class="bold">Fax #:</span>
                <% if @job.adjuster && @job.adjuster.phones %>
                <% @job.try(:adjuster).try(:fax_numbers).each do |phone| %>
                <%= phone.number %><br/>
                <% end %>
                <% end %>
              </div>
              <div class="col-xs-6">
                <span class="bold">Deductible:</span>$<%= @job.try(:job_detail).try(:deductible_amount) %>
              </div>
            </div>
          </section>
      </div>
    </div>
  </div>
</div>

<script>
function printPage() {
  window.print();
}
</script>
