<div class="container-fluid">
    <div id="wrapper">
        <%= render partial: "partials/jobs_sidebar" %>
        <div id="page-content-wrapper">
            <div class="col-xs-12">
                <div class="row panel">
                  <button class="btn btn-primary margin-top-1 margin-bottom-1 hidden-print pull-right" onclick="printPage()">Print this page</button>
                    <div class="col-xs-12">
                        <section id="job-information">
                        <div class="row">
                          <div class="col-xs-4">
                            <span class="bold">STATUS:</span> <br />
                            <%= @job.job_status.name %>
                          </div>
                          <div class="col-xs-4 text-center">
                            <h2 style="margin: 0;">Loss Sheet</h2>
                          </div>
                          <div class="col-xs-4">
                            <span class="bold">JOB MANAGER</span> <br  />
                            <%= @job.try(:job_managers).try(:first).try(:job_manager).try(:full_name) %>
                          </div>
                        </div>
                        <div class="row margin-top-2">
                          <div class="col-xs-4">
                          <span class="bold">Date Recieved: </span><%= @job.created_at.strftime("%D") %>
                          </div>
                          <div class="col-xs-4">
                            <span class="bold">Taken By: </span><%= @job.try(:user).try(:full_name) %>
                          </div>
                          <div class="col-xs-4">
                            <span class="bold">Time: </span><%= @job.created_at.strftime("%I:%M %p") %>
                          </div>
                          <div class="col-xs-12">
                            <span class="bold">Called In By: </span><%= @job.try(:caller).try(:full_name) %>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-12 text-center">
                            <h2>Insureds Information</h2>
                          </div>
                          <div class="col-xs-6">
                            <span class="bold">Insured (Customer): </span><%= @job.try(:customer).try(:full_name) %>
                          </div>
                          <div class="col-xs-6">
                            <span class="bold">Home #: </span>
                            <% @job.try(:customer).try(:home_phones).each do |phone| %>
                              <%= phone.number %>
                            <% end %>
                          </div>
                          <div class="col-xs-6">
                            <span class="bold">Address: </span>
                          </div>
                          <div class="col-xs-6">
                            <span class="bold">Business #: </span>
                            <% if @job.customer && @job.customer.phones %>
                            <% @job.try(:customer).try(:work_numbers).each do |phone| %>
                              <%= phone.number %>
                            <% end %>
                            <% end %>
                          </div>
                          <div class="col-xs-6">
                            <%= @job.try(:customer).try(:adddress).try(:address_1) %>
                          </div>
                          <div class="col-xs-6">
                            <span class="bold">Fax #: </span>
                            <% if @job.customer && @job.customer.phones %>
                            <% @job.try(:customer).try(:fax_numbers).each do |phone| %>
                              <%= phone.number %>
                            <% end %>
                            <% end %>
                          </div>
                          <div class="col-xs-6">
                            <%= @job.try(:customer).try(:adddress).try(:address_2) %>
                          </div>
                          <div class="col-xs-6">
                            <span class="bold">Cell #: </span>
                            <% if @job.customer && @job.customer.phones %>
                            <% @job.try(:customer).try(:cell_phones).each do |phone| %>
                              <%= phone.number %>
                            <% end %>
                            <% end %>
                          </div>
                          <div class="col-xs-6">
                            <%= @job.try(:customer).try(:adddress).try(:city) %> <%= @job.try(:customer).try(:adddress).try(:state).try(:name) %><%= @job.try(:customer).try(:adddress).try(:zip_code) %>
                          </div>
                          <div class="col-xs-12">
                            <span class="bold">Speak To: </span>
                          </div>
                          <div class="col-xs-6">
                            <span class="bold">Other (Caller): </span>
                          </div>
                          <div class="col-xs-6">
                              <% if @job.caller && @job.caller.phones %>
                            <span class="bold">Home #:</span> <% @job.try(:caller).try(:home_phones).each do |phone| %>
                                <%= phone.number %> <br  />
                              <% end %>
                              <% end %>
                          </div>
                          <div class="col-xs-6">
                            <span class="bold">Address: </span>
                          </div>
                          <div class="col-xs-6">
                            <span class="bold">Business #: </span>
                            <% if @job.caller && @job.caller.phones %>
                            <% @job.try(:caller).try(:work_numbers).each do |phone| %>
                              <%= phone.number %><br />
                            <% end %>
                            <% end %>
                          </div>
                          <div class="col-xs-6">
                            <%= @job.try(:caller).try(:adddress).try(:address_1) %>

                          </div>
                          <div class="col-xs-6">
                          <span class="bold">Fax #: </span>
                            <% if @job.caller && @job.caller.phones %>
                            <% @job.try(:caller).try(:fax_numbers).each do |phone| %>
                              <%= phone.number %> <br />
                            <% end %>
                            <% end %>
                          </div>
                          <div class="col-xs-6">
                                <%= @job.try(:caller).try(:adddress).try(:address_2) %>
                          </div>
                          <div class="col-xs-6">
                            <span class="bold">Other #: </span>
                          </div>
                          <div class="col-xs-12">
                            <span class="bold">Speak To: </span>
                          </div>
                          <div class="col-xs-6">
                              <%= @job.try(:caller).try(:adddress).try(:city) %>, <%= @job.try(:caller).try(:adddress).try(:state).try(:name) %>   <%= @job.try(:caller).try(:adddress).try(:zip_code) %>
                          </div>
                          <div class="col-xs-6">
                            <span class="bold">Referred By: </span><%= @job.referral_type.try(:name) %>
                          </div>
                          <div class="col-xs-6">

                          </div>
                          <div class="col-xs-6">
                            <span class="bold">Company: </span>
                          </div>
                          <div class="col-xs-6">

                          </div>
                          <div class="col-xs-6">
                            <span class="bold">Phone: </span>
                          </div>
                          <div class="col-xs-6">
                            <span class="bold">Type of Loss: </span>
                            <% @job.losses.each do |loss| %>
                              <%= loss.try(:loss_type).try(:name) %>
                            <% end %>
                          </div>
                          <div class="col-xs-6">
                            <span class="bold">Date of Loss: </span>  <%= @job.losses.first.try(:fnol_loss) %>
                          </div>
                          <div class="col-xs-12 margin-top-2">
                            <h2>Insurance Information</h2>
                          </div>
                          <div class="col-xs-12">
                            <span class="bold">Company: </span><%= @job.try(:job_detail).try(:insurance_company).try(:name) %>
                          </div>
                          <div class="col-xs-6">
                            <span class="bold">Claim #: </span><%= @job.try(:job_detail).try(:claim_number) %>
                          </div>
                          <div class="col-xs-6">
                            <span class="bold">Policy #: </span><%= @job.try(:job_detail).try(:policy_number) %>
                          </div>
                          <div class="col-xs-6">
                            <span class="bold">Adjuster: </span><%= @job.try(:adjuster).try(:full_name) %>
                          </div>
                          <div class="col-xs-6">
                            <span class="bold">Business #: </span>
                            <% if @job.adjuster && @job.adjuster.phones %>
                            <% @job.try(:adjuster).try(:work_numbers).each do |phone| %>
                              <%= phone.number %><br />
                            <% end %>
                            <% end %>
                          </div>
                          <div class="col-xs-6">
                            <span class="bold">Cell #: </span>
                              <% if @job.adjuster && @job.adjuster.phones %>
                            <% @job.try(:adjuster).try(:cell_phones).each do |phone| %>
                              <%= phone.number %><br />
                            <% end %>
                            <% end %>
                          </div>
                          <div class="col-xs-6">
                            <span class="bold">Fax #:</span>
                              <% if @job.adjuster && @job.adjuster.phones %>
                            <% @job.try(:adjuster).try(:fax_numbers).each do |phone| %>
                              <%= phone.number %><br />
                            <% end %>
                            <% end %>
                          </div>
                          <div class="col-xs-6">
                            <span class="bold">Deductible:</span>$<%= @job.try(:job_detail).try(:deductible_amount) %>
                          </div>
                        </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script>
function printPage() {
    window.print();
}
</script>
