<div class="container-fluid">
  <div id="wrapper">
    <%= render partial: "partials/jobs_sidebar" %>
    <div id="page-content-wrapper">
      <div class="col-xs-12">
        <div class="row panel">
          <button class="btn btn-primary margin-top-1 margin-bottom-1 hidden-print pull-right" onclick="printPage()">Print this page</button>
          <div class="col-xs-12">
            <section id="job-information">
              <div class="row">
                <div class="col-xs-12">
                  <h2>SERVPRO of
                    <%= @job.try(:franchise).try(:name) %></h2>
                </div>
                <div class="col-xs-4 margin-top-2">
                  <span class="bold">STATUS:</span>
                  <br/>
                  <%= @job.job_status.name %>
                </div>
                <div class="col-xs-4 text-center margin-top-2">
                  <h2 style="margin: 0;">Loss Sheet</h2>
                </div>
                <div class="col-xs-4 margin-top-2">
                  <span class="bold">JOB MANAGER:</span>
                  <br/>
                  <%= @job.try(:job_managers).try(:first).try(:job_manager).try(:full_name) %>
                </div>
              </div>
              <div class="row margin-top-4">
                <div class="col-xs-4">
                  <span class="bold">Date Recieved:
                  </span><%= @job.created_at.strftime("%D") %>
                </div>
                <div class="col-xs-4">
                  <span class="bold">Taken By:
                  </span><%= @job.try(:user).try(:full_name) %><br/>
                  <span class="bold">Loss Coordinator:
                  </span><%= @job.try(:job_coordinator).try(:full_name) %>
                </div>
                <div class="col-xs-4">
                  <span class="bold">Time:
                  </span><%= @job.created_at.strftime("%I:%M %p") %>
                </div>
                <div class="col-xs-12">
                  <span class="bold">Called In By:
                  </span><%= @job.try(:caller).try(:full_name) %>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 text-center">
                  <h2>Insureds Information</h2>
                </div>
                <div class="col-xs-12">
                  <div>
                    <h3>
                      <span class="bold">Insured (Customer):
                      </span><%= @job.try(:customer).try(:full_name) %></h3>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div>
                    <span class="bold">Home #:
                    </span>
                    <% @job.try(:customer).try(:home_phones).each do |phone| %>
                    <%= phone.number %>
                    <% end %>
                  </div>

                  <div>
                    <span class="bold">Business #:
                    </span>
                    <% if @job.customer && @job.customer.phones %>
                    <% @job.try(:customer).try(:work_numbers).each do |phone| %>
                    <%= phone.number %>
                    <% end %>
                    <% end %>
                  </div>

                  <div>
                    <span class="bold">Fax #:
                    </span>
                    <% if @job.customer && @job.customer.phones %>
                    <% @job.try(:customer).try(:fax_numbers).each do |phone| %>
                    <%= phone.number %>
                    <% end %>
                    <% end %>
                  </div>

                  <div>
                    <span class="bold">Cell #:
                    </span>
                    <% if @job.customer && @job.customer.phones %>
                    <% @job.try(:customer).try(:cell_phones).each do |phone| %>
                    <%= phone.number %>
                    <% end %>
                    <% end %>
                  </div>
                  <div>
                    <span class="bold">Email:
                    </span>
                    <%= @job.try(:customer).try(:email) %></div>

                </div>
                <div class="col-xs-6">
                  <div>
                    <span class="bold">Address:
                    </span>
                  </div>
                  <div><%= @job.try(:customer).try(:address).try(:address_1) %></div>
                  <div><%= @job.try(:customer).try(:address).try(:address_2) %></div>
                  <div><%= @job.try(:customer).try(:address).try(:city) %>
                    <%= @job.try(:customer).try(:address).try(:state).try(:name) %>
                    <%= @job.try(:customer).try(:address).try(:zip_code) %>
                  </div>

                </div>
              </div>
              <div class="row margin-top-3">
                <div class="col-xs-12">
                  <div>
                    <h3>
                      <span class="bold">Other (Caller):
                      </span><%= @job.try(:caller).try(:full_name) %></h3>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div>
                    <% if @job.caller && @job.caller.phones %>
                    <span class="bold">Home #:</span>
                    <% @job.try(:caller).try(:home_phones).each do |phone| %>
                    <%= phone.number %>
                    <br/>
                    <% end %>
                    <% end %>
                  </div>

                  <div>
                    <span class="bold">Business #:
                    </span>
                    <% if @job.caller && @job.caller.phones %>
                    <% @job.try(:caller).try(:work_numbers).each do |phone| %>
                    <%= phone.number %><br/>
                    <% end %>
                    <% end %>
                  </div>

                  <div>
                    <span class="bold">Fax #:
                    </span>
                    <% if @job.caller && @job.caller.phones %>
                    <% @job.try(:caller).try(:fax_numbers).each do |phone| %>
                    <%= phone.number %>
                    <br/>
                    <% end %>
                    <% end %>
                  </div>

                  <div>
                    <span class="bold">Cell #:
                    </span>
                    <% if @job.caller && @job.caller.phones %>
                    <% @job.try(:caller).try(:cell_phones).each do |phone| %>
                    <%= phone.number %>
                    <% end %>
                    <% end %>
                  </div>
                  <div>
                    <span class="bold">Email:
                    </span><%= @job.try(:caller).try(:email) %></div>
                </div>
                <div class="col-xs-6">
                  <div>
                    <span class="bold">Address:
                    </span>
                  </div>
                  <div><%= @job.try(:caller).try(:address).try(:address_1) %></div>
                  <div><%= @job.try(:caller).try(:address).try(:address_2) %></div>
                  <div><%= @job.try(:caller).try(:address).try(:city) %>
                    <%= @job.try(:caller).try(:address).try(:state).try(:name) %>
                    <%= @job.try(:caller).try(:address).try(:zip_code) %>
                  </div>
                </div>
              </div>
              <div class="row margin-top-3">

                <div class="col-xs-6">
                  <span class="bold">Referred By:
                  </span><%= @job.referral_type.try(:name) %>
                </div>

                <div class="col-xs-6">
                  <div>
                    <span class="bold">Type of Loss:
                    </span>
                    <% @job.losses.each do |loss| %>
                    <%= loss.try(:loss_type).try(:name) %>
                    <% end %>
                  </div>
                  <div>
                    <span class="bold">Date of Loss:
                    </span>
                    <%= @job.losses.first.try(:fnol_loss) %>
                  </div>
                </div>
              </div>

              <div class="row margin-top-3">

              <div class="col-xs-12 text-center">
                <h2>Insurance Information</h2>
              </div>
              <div class="col-xs-12">
                <span class="bold">Company:
                </span><%= @job.try(:job_detail).try(:insurance_company).try(:name) %>
              </div>
              <div class="col-xs-6">
                <span class="bold">Claim #:
                </span><%= @job.try(:job_detail).try(:claim_number) %>
              </div>
              <div class="col-xs-6">
                <span class="bold">Policy #:
                </span><%= @job.try(:job_detail).try(:policy_number) %>
              </div>
              <div class="col-xs-6">
                <span class="bold">Adjuster:
                </span><%= @job.try(:adjuster).try(:full_name) %>
              </div>
              <div class="col-xs-6">
                <span class="bold">Business #:
                </span>
                <% if @job.adjuster && @job.adjuster.phones %>
                <% @job.try(:adjuster).try(:work_numbers).each do |phone| %>
                <%= phone.number %><br/>
                <% end %>
                <% end %>
              </div>
              <div class="col-xs-6">
                <span class="bold">Cell #:
                </span>
                <% if @job.adjuster && @job.adjuster.phones %>
                <% @job.try(:adjuster).try(:cell_phones).each do |phone| %>
                <%= phone.number %><br/>
                <% end %>
                <% end %>
              </div>
              <div class="col-xs-6">
                <span class="bold">Fax #:</span>
                <% if @job.adjuster && @job.adjuster.phones %>
                <% @job.try(:adjuster).try(:fax_numbers).each do |phone| %>
                <%= phone.number %><br/>
                <% end %>
                <% end %>
              </div>
              <div class="col-xs-6">
                <span class="bold">Deductible:</span>$<%= @job.try(:job_detail).try(:deductible_amount) %>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<script>
function printPage() {
  window.print();
}
</script>
