<div class="col-xs-12">
    <div class="row content-box">
        <%= form_for(@call) do |f| %>
        <% if @call.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@call.errors.count, "error") %>
                prohibited this call from being saved:</h2>

            <ul>
                <% @call.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
            </ul>
        </div>
        <% end %>
        <div class="col-xs-4">
            <div class="form-group">
                <div class="field">
                    <%= f.label :callrail_id %><br>
                    <%= f.text_field :callrail_id, class: "form-control" %>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <div class="field">
                    <%= f.label :callsource %><br>
                    <%= f.text_field :callsource, class: "form-control" %>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <div class="field">
                    <%= f.label :datetime %><br>
                    <%= f.datetime_select :datetime, class: "form-control" %>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <div class="field">
                    <%= f.label :trackingnum %><br>
                    <%= f.text_field :trackingnum, class: "form-control" %>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <div class="field">
                    <%= f.label :customer_phone_number %><br>
                    <%= f.text_field :customer_phone_number, class: "form-control" %>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <div class="field">
                    <%= f.label :destinationnum %><br>
                    <%= f.text_field :destinationnum, class: "form-control" %>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <div class="field">
                    <%= f.label :customer_name %><br>
                    <%= f.text_field :customer_name, class: "form-control" %>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <div class="field">
                    <%= f.label :customer_city %><br>
                    <%= f.text_field :customer_city, class: "form-control" %>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <div class="field">
                    <%= f.label :destinationnum %><br>
                    <%= f.text_field :destinationnum, class: "form-control" %>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <div class="field">
                    <%= f.label :customer_state %><br>
                    <%= f.text_field :customer_state, class: "form-control" %>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <div class="field">
                    <%= f.label :customer_zip %><br>
                    <%= f.text_field :customer_zip, class: "form-control" %>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <div class="field">
                    <%= f.label :customer_country %><br>
                    <%= f.text_field :customer_country, class: "form-control" %>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <div class="field">
                    <%= f.label :keywords %><br>
                    <%= f.text_field :keywords, class: "form-control" %>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <div class="field">
                    <%= f.label :referrer %><br>
                    <%= f.text_field :referrer, class: "form-control" %>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <div class="field">
                    <%= f.label :referrermedium %><br>
                    <%= f.text_field :referrermedium, class: "form-control" %>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <div class="field">
                    <%= f.label :landingpage %><br>
                    <%= f.text_field :landingpage, class: "form-control" %>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <div class="field">
                    <%= f.label :last_requested_url %><br>
                    <%= f.text_field :last_requested_url, class: "form-control" %>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <div class="field">
                    <%= f.label :gclid %><br>
                    <%= f.text_field :gclid, class: "form-control" %>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <div class="field">
                    <%= f.label :ip %><br>
                    <%= f.text_field :ip, class: "form-control" %>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <div class="field">
                    <%= f.label :utm_source %><br>
                    <%= f.text_field :utm_source, class: "form-control" %>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <div class="field">
                    <%= f.label :utm_medium %><br>
                    <%= f.text_field :utm_medium, class: "form-control" %>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <div class="field">
                    <%= f.label :utm_term %><br>
                    <%= f.text_field :utm_term, class: "form-control" %>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <div class="field">
                    <%= f.label :utm_content %><br>
                    <%= f.text_field :utm_content, class: "form-control" %>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <div class="field">
                    <%= f.label :utm_campaign %><br>
                    <%= f.text_field :utm_campaign, class: "form-control" %>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <div class="field">
                    <%= f.label :utmb %><br>
                    <%= f.text_field :utmb, class: "form-control" %>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <div class="field">
                    <%= f.label :utmv %><br>
                    <%= f.text_field :utmv, class: "form-control" %>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <div class="field">
                    <%= f.label :utmz %><br>
                    <%= f.text_field :utmz, class: "form-control" %>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <div class="field">
                    <%= f.label :utmx %><br>
                    <%= f.text_field :utmx, class: "form-control" %>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <div class="field">
                    <%= f.label :ga %><br>
                    <%= f.text_field :ga, class: "form-control" %>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <div class="field">
                    <%= f.label :first_call %><br>
                    <%= f.check_box :first_call, class: "form-control" %>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <div class="field">
                    <%= f.label :recording %><br>
                    <%= f.text_field :recording, class: "form-control" %>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <div class="field">
                    <%= f.label :duration %><br>
                    <%= f.text_field :duration, class: "form-control" %>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <div class="field">
                    <%= f.label :answered %><br>
                    <%= f.check_box :answered, class: "form-control" %>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <div class="field">
                    <%= f.label :answered %><br>
                    <%= f.number_field :job_id, class: "form-control" %>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <div class="field">
                    <%= f.label :answered %><br>
                    <%= f.check_box :inprogress, class: "form-control" %>
                </div>
            </div>
        </div>

        <div class="col-xs-12 text-center">

            <div class="actions">
                <%= f.submit %>
            </div>
        </div>
        <% end %>
    </div>
</div>
