
<div class="container-fluid">
    <% if notice %>
    <div class="alert alert-success" role="alert"><%= notice %></div>
    <% end %>
    <h1 class="text-center">Phone Call Record:</h1>
    <div class="col-xs-8 col-xs-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Phone Call
                </h3>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>ID:</td>
                                    <td><%= @call.id %></td>
                                </tr>
                                <tr>
                                    <td>Vendor:</td>
                                    <td><%= @call.try(:vendor).try(:name) %></td>
                                </tr>
                                <tr>
                                    <td>CallRail ID:</td>
                                    <td><%= @call.callrail_id %></td>
                                </tr>
                                <tr>
                                    <td>Call Source:</td>
                                    <td><%= @call.callsource %></td>
                                </tr>
                                <tr>
                                    <td>Call Date:</td>
                                    <td><%= @call.datetime %></td>
                                </tr>
                                <tr>
                                    <td>Tracking Number</td>
                                    <td><%= @call.trackingnum %></td>
                                </tr>
                                <tr>
                                    <td>Customer Phone Number</td>
                                    <td><%= @call.customer_phone_number %></td>
                                </tr>
                                <tr>
                                    <td>Destination Number</td>
                                    <td><%= @call.destinationnum %></td>
                                </tr>
                                <tr>
                                    <td>Customer Name</td>
                                    <td><%= @call.customer_name %></td>
                                </tr>
                                <tr>
                                    <td>Customer City</td>
                                    <td><%= @call.customer_city %></td>
                                </tr>
                                <tr>
                                    <td>Customer State</td>
                                    <td><%= @call.customer_state %></td>
                                </tr>
                                <tr>
                                    <td>Customer ZIP</td>
                                    <td><%= @call.customer_zip %></td>
                                </tr>
                                <tr>
                                    <td>Customer Country</td>
                                    <td><%= @call.customer_country %></td>
                                </tr>
                                <tr>
                                    <td>Transcript</td>
                                    <td><%= @call.transcription %></td>
                                </tr>
                                <tr>
                                    <td>Keywords</td>
                                    <td><%= @call.keywords %></td>
                                </tr>
                                <tr>
                                    <td>Referrer</td>
                                    <td><%= @call.referrer %></td>
                                </tr>
                                <tr>
                                    <td>Referrer Medium</td>
                                    <td><%= @call.referrermedium %></td>
                                </tr>
                                <tr>
                                    <td>Landing Page</td>
                                    <td><%= @call.landingpage %></td>
                                </tr>
                                <tr>
                                    <td>Last Requested URL</td>
                                    <td><%= @call.last_requested_url %></td>
                                </tr>
                                <tr>
                                    <td>GCLID</td>
                                    <td><%= @call.gclid %></td>
                                </tr>
                                <tr>
                                    <td>IP Address</td>
                                    <td><%= @call.ip %></td>
                                </tr>
                                <tr>
                                    <td>UTM Source</td>
                                    <td><%= @call.utm_source %></td>
                                </tr>
                                <tr>
                                    <td>UTM Medium</td>
                                    <td><%= @call.utm_medium %></td>
                                </tr>
                                <tr>
                                    <td>UTM Term</td>
                                    <td><%= @call.utm_term %></td>
                                </tr>
                                <tr>
                                    <td>UTM Content</td>
                                    <td><%= @call.utm_content %></td>
                                </tr>
                                <tr>
                                    <td>UTM Campaign</td>
                                    <td><%= @call.utm_campaign %></td>
                                </tr>
                                <tr>
                                    <td>UTMB</td>
                                    <td><%= @call.utmb %></td>
                                </tr>
                                <tr>
                                    <td>UTMV</td>
                                    <td><%= @call.utmv %></td>
                                </tr>
                                <tr>
                                    <td>UTMZ</td>
                                    <td><%= @call.utmz %></td>
                                </tr>
                                <tr>
                                    <td>UTMX</td>
                                    <td><%= @call.utmx %></td>
                                </tr>
                                <tr>
                                    <td>GA</td>
                                    <td><%= @call.ga %></td>
                                </tr>
                                <tr>
                                    <td>First Call?</td>
                                    <td><%= @call.first_call %></td>
                                </tr>
                                <tr>
                                    <td>Recording</td>
                                    <td><%= @call.recording %></td>
                                </tr>
                                <tr>
                                    <td>Duration</td>
                                    <td><%= @call.duration %></td>
                                </tr>
                                <tr>
                                    <td>Answered?</td>
                                    <td><%= @call.answered %></td>
                                </tr>
                                <tr>
                                    <td>Job ID</td>
                                    <td><%= @call.job_id %></td>
                                </tr>
                                <tr>
                                    <td>In Progress?</td>
                                    <td><%= @call.inprogress %></td>
                                </tr>
                                <tr>
                                    <td>Franchise</td>
                                    <td><%= @call.try(:franchise).try(:name) %></td>
                                </tr>


                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <div class="panel-footer">

                <%= link_to edit_call_path(@call), class: "btn btn-sm btn-warning", type: "button" do %>
                <i class="glyphicon glyphicon-edit"></i>
                <% end %>
            </div>
        </div>
        
    </div>
</div>
