<div class="container-fluid">
    <% if notice %>
    <div class="alert alert-success" role="alert"><%= notice %></div>
    <% end %>

    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Phone Call Record
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Recording:</td>
                                        <td><a href="<%= @call.recording %>">Listen to Call</a></td>
                                    </tr>
                                    <% if @call.job_id %>
                                    <tr>
                                        <td>Associate Job:</td>
                                        <td><%= link_to @call.job_id, job_path(@call.job_id) %></td>
                                    </tr>
                                    <% end %>
                                    <tr>
                                        <td>Call Start Time</td>
                                        <td><%= @call.start_time %></td>
                                    </tr>
                                    <tr>
                                        <td>Customer Phone Number</td>
                                        <td><%= @call.customer_phone_number %></td>
                                    </tr>
                                    <tr>
                                        <td>Call Duration</td>
                                        <td><%= @call.duration %></td>
                                    </tr>

                                </tbody>
                            </table>
                          
                        </div>
                    </div>
                </div>
                <div class="panel-footer">

                    <span class="pull-right">
                        <%= link_to edit_call_path(@call), class: "btn btn-sm btn-warning", type: "button" do %>
                        <i class="glyphicon glyphicon-edit"></i>
                        <% end %>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
