<div class="container-fluid">
    <% if notice %>
    <div class="alert alert-success" role="alert"><%= notice %></div>
    <% end %>

    <div class="col-xs-8 col-xs-offset-2">
      <h1 class="text-center">User Information:</h1>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <%= @user.first_name %>
                    <%= @user.last_name %>
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>First Name:</td>
                                    <td><%= @user.first_name %></td>
                                </tr>
                                <tr>
                                    <td>Last Name:</td>
                                    <td><%= @user.last_name %></td>
                                </tr>
                                <tr>
                                    <td>Email:</td>
                                    <td><%= @user.email %></td>
                                </tr>
                                <tr>
                                    <td>Jobs Entered:</td>
                                    <td><%= @user.jobs.count %></td>
                                </tr>

                            </tbody>
                        </table>
                        <%= link_to "View All Jobs", jobs_path(user_id: @user.id), class: "btn btn-primary" %>

                    </div>
                </div>
            </div>
            <div class="panel-footer">

            </div>
          </div>
    </div>
</div>
