<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @insurance_company.id %>
</p>
<p>
  <strong>Name:</strong>
  <%= @insurance_company.name %>
</p>
<p>
  <strong>Name:</strong>
  <%= @insurance_company.bulletin_number %>
</p>
<p>
  <strong>Name:</strong>
  <%= @insurance_company.effective_date %>
</p>
<p>
  <strong>Name:</strong>
  <%= @insurance_company.states_involved %>
</p>
<p>
  <strong>Name:</strong>
  <%= @insurance_company.property_type %>
</p>
<p>
  <strong>Name:</strong>
  <%= @insurance_company.collect_deductible %>
</p>
<p>
  <strong>Name:</strong>
  <%= @insurance_company.esl %>
</p>
<p>
  <strong>Name:</strong>
  <%= @insurance_company.estimating_software %>
</p>
<p>
  <strong>Name:</strong>
  <%= @insurance_company.pricing %>
</p>
<p>
  <strong>Name:</strong>
  <%= @insurance_company.customer_service_contacts %>
</p>
<p>
  <strong>Name:</strong>
  <%= @insurance_company.special_conditions %>
</p>


<%= link_to 'Edit', edit_insurance_company_path(@insurance_company) %> |
<%= link_to 'Back', insurance_companies_path %>
