<p id="notice"><%= notice %></p>

<h1>Listing Vendor Uploads</h1>

<table class="table">
  <thead>
    <tr>
      <th>Upload</th>
      <th>Vendor upload type</th>
      <th>Expiration date</th>
      <th>Name</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vendor_uploads.each do |vendor_upload| %>
      <tr>
        <td><a target="_blank" href="<%= vendor_upload.uploads.first.upload.url %>">Download</a></td>
        <td><%= vendor_upload.try(:vendor_upload_type).try(:name) %></td>
        <td><%= vendor_upload.expiration_date %></td>
        <td><%= vendor_upload.name %></td>
        <td><%= vendor_upload.notes %></td>
        <td><%= link_to 'Show', vendor_vendor_upload_path(@vendor, vendor_upload) %></td>
        <td><%= link_to 'Edit', edit_vendor_vendor_upload_path(@vendor, vendor_upload) %></td>
        <td><%= link_to 'Destroy', vendor_vendor_upload_path(@vendor, vendor_upload), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vendor upload', new_vendor_vendor_upload_path(@vendor) %>
