<% @customer_address = @customer.address ||  @customer_address = Address.new unless @customer_address %>
<%= f.fields_for(@customer_address) do |g| %>

<div class="col-xs-6">
    <div class="form-group">
        <%= label_tag :address_1 %><br>
        <%= text_field_tag "address[address_1]", @customer_address.try(:address_1), class: "form-control"  %>
    </div>
</div>
<div class="col-xs-6">
    <div class="form-group">
        <%= label_tag :address_2 %><br>
        <%= text_field_tag "address[address_2]", @customer_address.try(:address_2), class: "form-control" %>
    </div>
</div>


<div class="col-xs-12">
    <div class="row">
      <div class="col-xs-3">
          <div class="form-group">
              <%= label_tag :zip %><br>
              <%= number_field_tag "address[zip_code]", @customer_address.try(:zip_code), class: "form-control"  %>
          </div>
      </div>
        <div class="col-xs-3">
            <label>Zip Code Lookup</label><br>
            <button id="zipLookup" type="button" class="btn btn-primary">Lookup</button>
        </div>
    </div>
</div>
<div class="col-xs-6">
    <div class="form-group">
        <%= label_tag :city %><br>
        <%= text_field_tag "address[city]", @customer_address.try(:city), class: "form-control"  %>
    </div>
</div>
<div class="col-xs-6">
    <div class="form-group">
        <%= label_tag :state_id %><br>
        <%= select_tag("address[state_id]", options_for_select(State.all.map{|p| [p.name, p.id]}, selected: @customer_address.try(:state).try(:id)), class: "form-control") %>
    </div>
</div>
<div class="col-xs-6">
    <div class="form-group">
        <%= label_tag :county %><br>
        <%= text_field_tag "address[county]", @customer_address.try(:county), class: "form-control"  %>
    </div>
</div>
<% end %>
