<%= form_for(@pipeline_status) do |f| %>
  <% if @pipeline_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pipeline_status.errors.count, "error") %> prohibited this pipeline_status from being saved:</h2>

      <ul>
      <% @pipeline_status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
