<p id="notice"><%= notice %></p>

<h1>Listing Pipeline Statuses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pipeline_statuses.each do |pipeline_status| %>
      <tr>
        <td><%= pipeline_status.name %></td>
        <td><%= link_to 'Show', pipeline_status %></td>
        <td><%= link_to 'Edit', edit_pipeline_status_path(pipeline_status) %></td>
        <td><%= link_to 'Destroy', pipeline_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pipeline status', new_pipeline_status_path %>
