<%= form_for [@job, @agent] do |f| %>
  <% if @agent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@agent.errors.count, "error") %> prohibited this agent from being saved:</h2>

      <ul>
      <% @agent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-xs-6">
      <div class="form-group">
          <%= f.label :first_name %><br>
          <%= f.text_field :first_name, class:"form-control" %>
      </div>
  </div>
  <div class="col-xs-6">
      <div class="form-group">
          <%= f.label :last_name %><br>
          <%= f.text_field :last_name, class:"form-control" %>
      </div>
  </div>
  <div class="col-xs-6">
      <div class="form-group">
          <%= f.label :email %><br>
          <%= f.text_field :email, class:"form-control" %>
      </div>
  </div>

  <%= render 'address_form', f: f %>
<%= render 'phone_form', f: f %>


  <div class="col-xs-12 text-center">
      <div class="actions">
          <%= f.submit class:"btn btn-primary" %>
      </div>
  </div>
  <% end %>
