<%= f.fields_for(:phones) do |g| %>

<div id="number-container">
    <div class="col-xs-12">
      <% @phones.each do |phone| %>
        <div class="row">
            <div class="col-xs-3">
                <div class="form-group">
                    <%= label_tag :type_id %><br>
                    <%= select_tag("phones[type_ids][]", options_for_select(PhoneType.all.map{|p| [p.name, p.id]}, selected: phone.type_id), class: "form-control") %>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="form-group">
                    <%= label_tag :number %><br>
                    <%= text_field_tag "phones[numbers][]", phone.try(:number), class: "form-control"  %>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="form-group">
                    <%= label_tag :extension %><br>
                    <%= text_field_tag "phones[extensions][]", phone.try(:extension), class: "form-control"  %>
                </div>
            </div>
            <div class="col-xs-3">
              <%= label_tag :delete %><br>
              <a id="remove-number" href="" class="btn btn-danger full-width">Delete</a>
            </div>
        </div>
        <% end %>
    </div>

</div>
<div id="new-number">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-3">
                <div class="form-group">
                    <%= label_tag :type_id %><br>
                    <%= select_tag("phones[type_ids][]", options_for_select(PhoneType.all.map{|p| [p.name, p.id]}), class: "form-control") %>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="form-group">
                    <%= label_tag :number %><br>
                    <%= text_field_tag "phones[numbers][]",nil, class: "form-control"  %>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="form-group">
                    <%= label_tag :extension %><br>
                    <%= text_field_tag "phones[extensions][]", nil, class: "form-control"  %>
                </div>
            </div>
            <div class="col-xs-3 remove-number-toggle">
              <%= label_tag :delete %><br>
              <a id="remove-number" href="" class="btn btn-danger full-width">Delete</a>
            </div>
            <div class="col-xs-3 add-number-toggle">
              <%= label_tag :add %><br>
              <a id="add-number" href="" class="btn btn-primary full-width">Add</a>
            </div>
        </div>
    </div>
</div>
<% end %>
