<p id="notice"><%= notice %></p>

<h1>Listing Referral Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @referral_types.each do |referral_type| %>
      <tr>
        <td><%= referral_type.name %></td>
        <td><%= link_to 'Show', referral_type %></td>
        <td><%= link_to 'Edit', edit_referral_type_path(referral_type) %></td>
        <td><%= link_to 'Destroy', referral_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Referral type', new_referral_type_path %>
