<p id="notice"><%= notice %></p>

<h1>Listing Emergency Contacts</h1>

<table>
  <thead>
    <tr>
      <th>Job</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @emergency_contacts.each do |emergency_contact| %>
      <tr>
        <td><%= emergency_contact.job_id %></td>
        <td><%= emergency_contact.first_name %></td>
        <td><%= emergency_contact.last_name %></td>
        <td><%= emergency_contact.email %></td>
        <td><%= emergency_contact.address_id %></td>
        <td><%= link_to 'Show', emergency_contact %></td>
        <td><%= link_to 'Edit', edit_emergency_contact_path(emergency_contact) %></td>
        <td><%= link_to 'Destroy', emergency_contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Emergency contact', new_emergency_contact_path %>
