<div class="container-fluid">
    <% if notice %>
    <div class="alert alert-success" role="alert"><%= notice %></div>
    <% end %>
    <%= render partial: "partials/jobs_sidebar" %>
    <h1 class="text-center">Emergency Contact Information:</h1>
    <div class="col-xs-8">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                  Status:
                  <%= @job.try(:job_status).try(:name) %>
                </h3>
            </div>
            <% if @emergency_contact %>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>First Name:</td>
                                    <td><%= @emergency_contact.try(:first_name) %></td>
                                </tr>
                                <tr>
                                    <td>Last Name:</td>
                                    <td><%= @emergency_contact.try(:last_name) %></td>
                                </tr>
                                <tr>
                                    <td>Email:</td>
                                    <td><%= @emergency_contact.try(:email) %></td>
                                </tr>
                                <tr>
                                    <td>Address 1:</td>
                                    <td><%= @emergency_contact.try(:address).try(:address_1) %></td>
                                </tr>
                                <tr>
                                    <td>Address 2</td>
                                    <td><%= @emergency_contact.try(:address).try(:address_2) %></td>
                                </tr>
                                <tr>
                                    <td>City</td>
                                    <td><%= @emergency_contact.try(:address).try(:city) %></td>
                                </tr>
                                <tr>
                                    <td>Zip</td>
                                    <td><%= @emergency_contact.try(:address).try(:zip_code) %></td>
                                </tr>
                                <tr>
                                    <td>State</td>
                                    <td><%= @emergency_contact.try(:address).try(:state).try(:name) %></td>
                                </tr>
                                <tr>
                                    <td>County</td>
                                    <td><%= @emergency_contact.try(:address).try(:county) %></td>
                                </tr>
                                <% @emergency_contact.phones.each do |phone| %>
                                <tr>
                                    <td>Phone -
                                        <%= phone.try(:type).try(:name) %></td>
                                    <td>Number:
                                        <%= phone.number %>, Ext:
                                        <%= phone.extension %></td>
                                </tr>
                                <% end %>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <span class="pull-right">
                    <% if @emergency_contact %>
                    <%= link_to edit_job_emergency_contact_path(@job, @emergency_contact), class: "btn btn-sm btn-warning", type: "button" do %>
                    <i class="glyphicon glyphicon-edit"></i>
                    <% end %>
                    <% end %>
                </span>
            </div>
            <% end %>
        </div>
        <%= render partial: "partials/jobs_bottom_bar" %>
    </div>
</div>
