<%= form_for [@job, @pricing], html: {id: 'pricing_form'} do |f| %>

  <%= render partial: 'partials/model_errors', locals: {model: @pricing} %>

  <div class="col-xs-12">
    <div class="form-group">
      <%= f.label :non_taxable_amount %><br>
      <div class="input-group">
        <div class="input-group-addon">$</div>
        <%= f.number_field :non_taxable_amount, class: "form-control", step: "0.01" %>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="form-group">
      <%= f.label :taxable_amount %><br>
      <div class="input-group">
        <div class="input-group-addon">$</div>
        <%= f.number_field :taxable_amount, class: "form-control", step: "0.01" %>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="form-group">
      <%= f.label :subtotal %><br>
      <div class="input-group">
        <div class="input-group-addon">$</div>
        <%= f.number_field :subtotal, disabled: true, class: "form-control", step: "0.01" %>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="form-group">
      <%= f.label :tax_amount %><br>
      <div class="input-group">
        <div class="input-group-addon">$</div>
        <%= f.number_field :tax_amount, class: "form-control", step: "0.01" %>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="form-group">
      <%= f.label :tax_rate %><br>
      <div class="input-group">
        <%= f.number_field :tax_rate, class: "form-control", step: "0.001" %>
        <div class="input-group-addon">%</div>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="form-group">
      <%= f.label :total %><br>
      <div class="input-group">
        <div class="input-group-addon">$</div>
        <%= f.number_field :total, disabled: true, class: "form-control", step: "0.01" %>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <%= f.label :pricing_category_id %><br>
    <%= f.collection_select :pricing_category_id, PricingCategory.all, :id, :name, {prompt: true},  { class: 'form-control'} %>
  </div>
  <div class="col-xs-12">
    <%= f.label :description %><br>
    <%= f.text_field :description, class: "form-control" %>
  </div>
  <%= f.fields_for :uploads, @pricing.uploads do |g|%>
    <div class="col-sm-12">
        <%= g.label :upload %><br>
        <%= g.file_field :uploads, multiple: true %>
    </div>
  <% end %>
  <div class="col-xs-12 margin-top-2">
    <%= f.submit  class: "btn btn-primary" %>
  </div>

<% end %>
