<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @pricing.price %>
</p>

<p>
  <strong>Pricing category:</strong>
  <%= @pricing.pricing_category_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pricing.description %>
</p>

<%= link_to 'Edit', edit_pricing_path(@pricing) %> |
<%= link_to 'Back', pricings_path %>
