<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @vendor.cat3eogry %>
</p>

<p>
  <strong>Name:</strong>
  <%= @vendor.name %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @vendor.contact %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @vendor.phone %>
</p>

<p>
  <strong>Cellphone:</strong>
  <%= @vendor.cellphone %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @vendor.fax %>
</p>

<p>
  <strong>Address:</strong>
  <%= @vendor.address %>
</p>

<p>
  <strong>Wc:</strong>
  <%= @vendor.wc %>
</p>

<p>
  <strong>Liability:</strong>
  <%= @vendor.liability %>
</p>

<p>
  <strong>Pollution:</strong>
  <%= @vendor.pollution %>
</p>

<p>
  <strong>Auto:</strong>
  <%= @vendor.auto %>
</p>

<p>
  <strong>W9:</strong>
  <%= @vendor.w9 %>
</p>

<p>
  <strong>Independent contractor agreement:</strong>
  <%= @vendor.independent_contractor_agreement %>
</p>

<p>
  <strong>Email:</strong>
  <%= @vendor.email %>
</p>

<%= link_to 'Edit', edit_vendor_path(@vendor) %> |
<%= link_to 'Back', vendors_path %>
