<%= f.input :loss_occurred, as: :string, input_html: {class: 'datePicker'}, wrapper_html: {class: 'col-xs-4'} %>
<%= f.input :fnol_received, as: :string, label: 'Job Received', input_html: {class: 'datePicker'}, wrapper_html: {class: 'col-xs-4'} %>
<%= f.input :customer_called, as: :string, input_html: {class: 'datePicker'}, wrapper_html: {class: 'col-xs-4'} %>

<div class="col-xs-4">
  <div class="form-group">
    <div class="field">
      <%= f.label :loss_type_id %><br>
      <%= f.collection_radio_buttons(:loss_type_id, LossType.all, :id, :name, label: false, boolean_style: :inline) do |b| %>
        <span class="radio">
          <%= b.label(:"data-value" => b.value, :"name" => "loss_type_id") { b.radio_button(class: 'loss-type') + b.text } %>
          <a data-toggle="tooltip" class="tooltipLink" title="<%= b.object.tooltip %>">
            <span class="glyphicon glyphicon-info-sign"></span>
          </a>
        </span>
      <% end %>
    </div>
  </div>
</div>
<div class="col-xs-4">
  <div class="form-group">
    <div class="field">
      <%= f.label :loss_cause_id %><br>
      <%= f.grouped_collection_select :loss_cause_id, LossType.all, :loss_causes, :name, :id, :name, {prompt: true},  { class: 'form-control loss-cause'} %>
    </div>
  </div>
</div>
<%= f.input :standing_water_id, as: :radio_buttons, collection: AffectedType.all, wrapper_html: {class: 'col-xs-4'} %>
<%= f.input :water_available_id, as: :radio_buttons, collection: AffectedType.all, wrapper_html: {class: 'col-xs-4'} %>
<%= f.input :electricity_available_id, as: :radio_buttons, collection: AffectedType.all, wrapper_html: {class: 'col-xs-4'} %>
<%= f.input :source_off_id, as: :radio_buttons, collection: AffectedType.all, wrapper_html: {class: 'col-xs-4'} %>
<%= f.input :visible_mold_id, as: :radio_buttons, collection: AffectedType.all, wrapper_html: {class: 'col-xs-4'} %>
<%= f.input :previous_water_damage_id, as: :radio_buttons, collection: AffectedType.all, wrapper_html: {class: 'col-xs-4'} %>

<%= f.input :source_cause, wrapper_html: {id: 'sourceCause', class: 'col-xs-12'} if f.object.new_record? %>
<%= f.input :cleaning_type, wrapper_html: {id: 'cleaningType', class: 'col-xs-12'} %>
<%= f.input :affected_square_footage, wrapper_html: {id: 'squareFootage', class: 'col-xs-12'} %>
<%= f.input :notes, wrapper_html: {class: 'col-xs-12'} %>
