<p id="notice"><%= notice %></p>

<h1>Listing Corporate Referral Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @corporate_referral_types.each do |corporate_referral_type| %>
      <tr>
        <td><%= corporate_referral_type.name %></td>
        <td><%= link_to 'Show', corporate_referral_type %></td>
        <td><%= link_to 'Edit', edit_corporate_referral_type_path(corporate_referral_type) %></td>
        <td><%= link_to 'Destroy', corporate_referral_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Corporate referral type', new_corporate_referral_type_path %>
