<%= form_for(@customer_company) do |f| %>
  <% if @customer_company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer_company.errors.count, "error") %> prohibited this customer_company from being saved:</h2>

      <ul>
      <% @customer_company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :company_id %><br>
    <%= f.number_field :company_id %>
  </div>
  <div class="field">
    <%= f.label :customer_id %><br>
    <%= f.number_field :customer_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
