<div class="col-xs-12">
  <label>Send to:</label><br />
</div>
<div class="col-xs-12">
  <div class="row">
    <% if @job.job_coordinator %>
      <div class="col-sm-3">
        <div class="form-group">
          <%= select_tag 'work_order_send_to[send_to][]', options_for_select(User.where(id: @job.job_coordinator.id).collect{ |u| [u.full_name, u.id] }), class: "form-control" %>
        </div>
      </div>
    <% end %>
    <div class="col-sm-3">
      <div class="form-group">
        <%= select_tag 'work_order_send_to[dont_send_to][]', options_for_select(User.where(email: "kroggemann@servpro5933.com").collect{ |u| [u.full_name, u.id] }), class: "form-control" %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <%= select_tag 'work_order_send_to[send_to][]', options_for_select(User.with_role('Crew Chief').collect{ |u| [u.full_name, u.id] }), prompt: "Select Crew Chief", class: "form-control" %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <%= select_tag 'work_order[vendor_id]', options_for_select(Vendor.all.collect{ |u| [u.name, u.id] }), prompt: "Select Vendor", class: "form-control" %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <% @tech = Role.find_by(name: "Technician") %>
        <%= select_tag 'work_order_send_to[send_to][]', options_for_select(User.with_role('Technician').collect{ |u| [u.full_name, u.id] }), prompt: "Select Technician", class: "form-control" %>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-12">
  <hr />
</div>
