<div class="container-fluid">
    <div id="wrapper">
        <%= render partial: "partials/jobs_sidebar" %>
        <div id="page-content-wrapper">
            <% if notice %>
            <div class="alert alert-success" role="alert"><%= notice %></div>
            <% end %>
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h1>Update Work Order</h1>
                    </div>
                    <div class="col-xs-12">
                        <div class="row content-box">
                            <%= render 'form' %>
                        </div>
        <div class="row">
        <%= f.input :crew_chief_ids, collection: User.with_role('Crew Chief'), label_method: :full_name, input_html: { multiple: true, class: 'select-control form-control', style: 'width: 100%' }, wrapper_html: { class: 'col-sm-6' }, label: 'Crew Chief(s)', hint: "Will Receive Email" %>
        <%= f.input :technician_ids, collection: User.with_role('Technician'), label_method: :full_name, input_html: { multiple: true, class: 'select-control form-control', style: 'width: 100%' }, wrapper_html: { class: 'col-sm-6' }, label: 'Technician(s)', hint: "Will Receive Email" %>
      </div>
      <div class="row">
      <%= f.input :vendor_ids, collection: Vendor.order(:name), label_method: :name, input_html: { multiple: true, class: 'select-control form-control', style: 'width: 100%' }, wrapper_html: { class: 'col-sm-12' }, label: 'Vendors/Sub-Contractor', hint: "Will Receive Email" %>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <hr/>
                </div>
            </div>
        </div>
    </div>
</div>
