<p id="notice"><%= notice %></p>

<p>
  <strong>Job:</strong>
  <%= @work_order.job_id %>
</p>

<p>
  <strong>To:</strong>
  <%= @work_order.to %>
</p>

<p>
  <strong>Name:</strong>
  <%= @work_order.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @work_order.date %>
</p>

<p>
  <strong>Typed by:</strong>
  <%= @work_order.typed_by %>
</p>

<p>
  <strong>Job start:</strong>
  <%= @work_order.job_start %>
</p>

<p>
  <strong>Job name:</strong>
  <%= @work_order.job_name %>
</p>

<p>
  <strong>Job location:</strong>
  <%= @work_order.job_location %>
</p>

<p>
  <strong>Telphone:</strong>
  <%= @work_order.telphone %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @work_order.contact %>
</p>

<p>
  <strong>Insurance:</strong>
  <%= @work_order.insurance %>
</p>

<p>
  <strong>Claim number:</strong>
  <%= @work_order.claim_number %>
</p>

<p>
  <strong>Crew:</strong>
  <%= @work_order.crew %>
</p>

<p>
  <strong>Approx time on loss:</strong>
  <%= @work_order.approx_time_on_loss %>
</p>

<p>
  <strong>Required:</strong>
  <%= @work_order.required %>
</p>

<p>
  <strong>Referral:</strong>
  <%= @work_order.referral %>
</p>

<p>
  <strong>Franchise location:</strong>
  <%= @work_order.franchise_location %>
</p>

<p>
  <strong>Scope of work:</strong>
  <%= @work_order.scope_of_work %>
</p>

<p>
  <strong>Job manager contact info:</strong>
  <%= @work_order.job_manager_contact_info %>
</p>

<%= link_to 'Edit', edit_job_work_order_path(@job, @work_order) %> |
