<div class="col-xs-12">
    <div class="row content-box">
        <%= form_for [@job, @upload] do |f| %>
        <% if @upload.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@upload.errors.count, "error") %>
                prohibited this upload from being saved:</h2>

            <ul>
                <% @upload.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
            </ul>
        </div>
        <% end %>
        <div class="col-sm-6 col-sm-offset-3">
            <div class="form-group">
                <%= f.label :upload_category_id %><br>
                <%= f.collection_select :upload_category_id, UploadCategory.all, :id, :name, {:prompt => 'Select an Upload Type'},  { class: 'form-control'} %>
            </div>
        </div>
        <div class="col-sm-6 col-sm-offset-3">
            <%= f.label :description %><br>
            <%= f.text_area :description, class:"form-control" %>
        </div>
        <div class="col-sm-6 col-sm-offset-3">
            <%= f.label :upload %><br>
            <%= f.file_field :uploads, multiple: true %>
        </div>
        <br>
        <div class="col-sm-6 col-sm-offset-3 text-center margin-top-3">
            <%= f.submit class: "btn btn-primary" %>
        </div>
        <% end %>
    </div>
</div>
