<p id="notice"><%= notice %></p>

<p>
  <strong>Franchise:</strong>
  <%= @franchise_zipcode.franchise_id %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @franchise_zipcode.zip_code %>
</p>

<%= link_to 'Edit', edit_franchise_zipcode_path(@franchise_zipcode) %> |
<%= link_to 'Back', franchise_zipcodes_path %>
