<div class="col-xs-12">
    <div class="row content-box">
        <%= form_for [@job, @job_manager] do |f| %>
        <% if @job_manager.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@job_manager.errors.count, "error") %>
                prohibited this job_manager from being saved:</h2>

            <ul>
                <% @job_manager.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
            </ul>
        </div>
        <% end %>

        <div class="col-xs-6 col-xs-offset-3">
            <div class="form-group">
                <%= f.label :job_manager_id, "Select Job Manager" %>
                <% if @job.franchise_id %>
                  <%= f.collection_select :job_manager_id, User.joins(:franchise_user).merge(FranchiseUser.where(franchise_id: @job.franchise_id)), :id, :full_name, {prompt: true},  { class: 'form-control'} %>
                <% else %>
                  <%= f.collection_select :job_manager_id, User.all, :id, :full_name, {prompt: true},  { class: 'form-control'} %>
                <% end %>
            </div>
        </div>
        <div class="col-xs-6 col-xs-offset-3">
            <div class="form-group">
                <div class="field">
                    <%= f.label :schedule_date, "Proposed Appontment Date" %><br>
                    <%= f.date_select :schedule_date %>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-xs-offset-3">
            <div class="form-group">
              <span class="bold">Availability Window</span>
                <div class="field">
                    <%= f.label :start_time %> :
                    <%= f.time_select :start_time, {:ampm => true, :minute_step => 15} %>

                    <%= f.label :end_time %> :
                    <%= f.time_select :end_time, {:ampm => true, :minute_step => 15} %>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-xs-offset-3">
            <div class="form-group">

            </div>
        </div>
        <div class="col-xs-6 col-xs-offset-3">
            <div class="form-group">
                <div class="field">
                    <%= f.label :note, "Appointment Details" %><br>
                    <%= f.text_area :note, class: "form-control" %>
                </div>
            </div>
        </div>
        <div class="col-xs-12 text-center">
          <div class="actions">
              <%= f.submit "Assign Manager", class: "btn btn-primary" %>
          </div>
        </div>

        <% end %>
    </div>
</div>
