<div class="container-fluid">
    <div id="wrapper">
        <%= render partial: "partials/jobs_sidebar" %>
        <div id="page-content-wrapper">
            <% if notice %>
            <div class="alert alert-success" role="alert"><%= notice %></div>
            <% end %>
            <div class="col-xs-12">
                <h1 class="text-center">Job Assignments</h1>
                <%= link_to "New Manager Assignment", new_job_job_manager_path(@job), class:"btn btn-primary new-manager-button"%>
                <% @job_managers.each do |manager| %>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title"></h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>Assignment:</td>
                                            <td><%= manager.job_manager.full_name %></td>
                                        </tr>
                                        <tr>
                                            <td>Date:</td>
                                            <td><%= manager.schedule_date %></td>
                                        </tr>
                                        <tr>
                                            <td>Start Time:</td>
                                            <td><%= manager.start_time %></td>
                                        </tr>
                                        <tr>
                                            <td>End Time:</td>
                                            <td><%= manager.end_time %></td>
                                        </tr>
                                        <tr>
                                            <td>Note:</td>
                                            <td><%= manager.note %></td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <%= link_to edit_job_job_manager_path(@job, manager), class: "btn btn-sm btn-warning", type: "button" do %>
                        <i class="glyphicon glyphicon-edit"></i>
                        <% end %>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
