<p id="notice"><%= notice %></p>

<p>
  <strong>Job manager:</strong>
  <%= @job_manager.job_manager_id %>
</p>

<p>
  <strong>Schedule datetime:</strong>
  <%= @job_manager.schedule_datetime %>
</p>

<p>
  <strong>Note:</strong>
  <%= @job_manager.note %>
</p>

<%= link_to 'Edit', edit_job_job_manager_path(@job, @job_manager) %> |
<%= link_to 'Back', job_job_managers_path %>
