<p id="notice"><%= notice %></p>

<h1>Listing Vendor Assignments</h1>

<table>
  <thead>
    <tr>
      <th>Vendor</th>
      <th>Job</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vendor_assignments.each do |vendor_assignment| %>
      <tr>
        <td><%= vendor_assignment.vendor_id %></td>
        <td><%= vendor_assignment.job_id %></td>
        <td><%= vendor_assignment.note %></td>
        <td><%= link_to 'Show', vendor_assignment %></td>
        <td><%= link_to 'Edit', edit_vendor_assignment_path(vendor_assignment) %></td>
        <td><%= link_to 'Destroy', vendor_assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vendor assigment', new_vendor_assignment_path %>
