<p id="notice"><%= notice %></p>

<p>
  <strong>Vendor:</strong>
  <%= @vendor_assignment.vendor_id %>
</p>

<p>
  <strong>Job:</strong>
  <%= @vendor_assignment.job_id %>
</p>

<p>
  <strong>Note:</strong>
  <%= @vendor_assignment.note %>
</p>

<%= link_to 'Edit', edit_vendor_assignment_path(@vendor_assignment) %> |
<%= link_to 'Back', vendor_assignments_path %>
