<p id="notice"><%= notice %></p>

<h1>Listing Pricing Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pricing_categories.each do |pricing_category| %>
      <tr>
        <td><%= pricing_category.name %></td>
        <td><%= link_to 'Show', pricing_category %></td>
        <td><%= link_to 'Edit', edit_pricing_category_path(pricing_category) %></td>
        <td><%= link_to 'Destroy', pricing_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pricing category', new_pricing_category_path %>
