<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <% Franchise.all.each do |franchise| %>
    <h2><%= franchise.name %> (<%= @jobs.where(franchise_id: franchise.id).count %>)</h2><br />
      <% @jobs.where(franchise_id: franchise.id).find_each do |job| %>
        Name: <%= job.name %> <br />
        Loss Type: <%= job.try(:losses).try(:first).try(:loss_type).try(:name) %><br />
        Customer Address: <%= job.customer.try(:address).try(:address_1) %> <br />
        <% if job.customer.try(:address).try(:address_2) != "" %>
          <%= job.customer.try(:address).try(:address_2) %> <br />
        <% end %>
        <%= job.customer.try(:address).try(:city) %>, <%= job.customer.try(:address).try(:state).try(:name) %> <br />

        <a href="http://digitaljobchart.com/jobs/<%= job.id %>">Show Page</a><br />
        <a href="http://digitaljobchart.com/jobs/<%= job.id %>/loss-sheet">Loss Sheet</a><br /><br />

      <% end %>
    <% end %>
  </body>
</html>
