<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed pull-left"  href="#menu-toggle" id="menu-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Service Alliance Inc.</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <li>
          <% if current_user.notifications.where(viewed: false).count > 0 %>
            <%= link_to notifications_path  do %>
            Notifications <span class="badge-red"><%= current_user.notifications.where(viewed: false).count %></span>
            <% end %>
          <% else %>
            <%= link_to notifications_path  do %>
            Notifications <span class="badge"><%= current_user.notifications.where(viewed: false).count %></span>
            <% end %>
          <% end %>
        </li>
        <li> <%= link_to "Work Orders", work_orders_path%> </li>
        <li><%= link_to "New Job", new_job_path %></li>
        <li><%= link_to "Wiki", articles_path %></li>
        <li><%= link_to "Calls", calls_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reporting <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li> <%= link_to "Adwords", adwords_path %></li>
          </ul>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Supplies <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li> <%= link_to "Consumables", consumables_path %></li>
            <li> <%= link_to "Chemicals", chemicals_path %></li>
            <li> <%= link_to "Fleet", vehicles_path%> </li>
          </ul>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contacts <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Contacts", customers_path %></li>
            <li><%= link_to "Companies", companies_path %></li>
            <li><%= link_to "Insurance Companies", insurance_companies_path %></li>
            <li><%= link_to "Adjusters", adjusters_path %></li>
            <li><%= link_to "Vendors", vendors_path %></li>
            <li><%= link_to "Staff", users_path %></li>

          </ul>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Franchises<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Franchises", franchises_path %></li>
            <li><%= link_to "Zip Code Assignment", franchise_zipcodes_path %></li>
            <li class="divider"></li>
            <li><a href="/franchises/1"> SERVPRO of Central Manhattan </a></li>
            <li><a href="/franchises/2"> SERVPRO of East Windsor </a></li>
            <li><a href="/franchises/3"> SERVPRO of Medford </a></li>
            <li><a href="/franchises/4"> SERVPRO of Oakdale/North Bay Shore </a></li>
            <li><a href="/franchises/5"> SERVPRO of Old Bridge/Cranbury </a></li>
            <li><a href="/franchises/6"> SERVPRO of Southwest Brooklyn </a></li>
        </ul>
      </li>

        <li><%= link_to "Log Book", jobs_path %></li>
        <li><% link_to "Consumables", vendors_path %></li>
        <li><% link_to "Accounting", vendors_path %></li>
        <li><% link_to "Compliance", vendors_path %></li>
        <li><% link_to "Equipment", vendors_path %></li>


        <% if user_signed_in? %>
          <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
        <% else %>
          <li><%= link_to "Sign in", new_user_session_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
